extends base/_layout
block head
   title Единая заявка на кредит
block page

   .breadcrumbs
      ul.breadcrumbs__list
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Главная
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Статьи
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Категория
         li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--active(href="#") Единая заявка на кредит

   section.article
      .article__inner.container
         .section
            .section__info
               section.article__lead
                  .background-image
                     img(src="images/article/bg.jpg" alt="фоновая картинка" width="900" height="500")
                  h1.article__title Помощь в получении кредита на открытие бизнеса с нуля
               .data.info__data.article__data
                  p.data__day 31 октября 2020
                  .data__info
                     img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                     span.data__num 543
                  .data__info
                     img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                     span.data__num 12
               section.article__content.content#content
                  .content__inner
                     .content__top
                        h2.content__title Содержание статьи
                        button.content__toggle.content__toggle--active
                           img(src="images/icons/arrow-down.svg" alt="иконка" width="18" height="18")
                     ol.num-list.show(style="display: block")
                        li
                           p.
                              Переуступка долга: 1 способ решения вопроса, если уволили с работы и нечем платить кредит
                        li
                           p.
                              Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем
                           ol.num-list__submenu
                              li
                                 p.
                                    Признание себя банкротом
                              li
                                 p.
                                    Как платить кредит, если потерял работу?
                        li
                           p.
                              Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем
                        li
                           p.
                              Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем
               p.text.article__text.
                  Жизнь совершенно непредсказуема. Собрался поехать в отпуск — сделали карантин. Хотел получить повышение — попал под сокращение. И, увы, этих историй тысячи. Может случиться и более сложная ситуация, например, вас уволили с работы, но нужно платить кредит. И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.
               section.info
                  .info__inner
                     h2.sub-title Переуступка долга: 1 способ решения вопроса, если уволили с работы и нечем платить кредит. Заголовок в две строки + текст
                     p.text.
                        Жизнь совершенно непредсказуема. Собрался поехать в отпуск — сделали карантин. Хотел получить повышение — попал под сокращение. И, увы, этих историй тысячи. Может случиться и более сложная ситуация, например, вас уволили с работы, но нужно платить кредит. И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.
               section.info
                  .info__inner
                     h2.sub-title Заголовок + список + текст
                     ul.dot-list
                        li
                           p.
                              Переуступка долга: 1 способ решения вопроса, если уволили с работы и нечем платить кредит
                        li
                           p.
                              Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем
                        li
                           p.
                              Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем
                        li
                           p.
                              Дополнительное финансирование: 2 способ, если набрал кредитов и платить нечем
               .notice
                  p #[b Важно!] При злостном уклонении от выполнения условий договора на должника будет оказываться психологическое воздействие сотрудниками финансовой организации в виде звонков и смс-сообщений. Также не исключено, что дело будет передано в суд.
               p.text.article__text.
                  Жизнь совершенно непредсказуема. Собрался поехать в отпуск — сделали карантин. Хотел получить повышение — попал под сокращение. И, увы, этих историй тысячи. Может случиться и более сложная ситуация, например, вас уволили с работы, но нужно платить кредит. И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.
               blockquote.blockquote
                  .blockquote__inner
                     .blockquote__icon
                        img(src="images/icons/quote.svg" alt="иконка" width="27" height="22")
                     .blockquote__info
                        h2.blockquote__title Чем может помочь кредитный брокер?
                        p.blockquote__text.
                           С целью снизить число людей с ожирением рестораны быстрого питания и сети супермаркетов вводят новые, более полезные опции (например, салаты, сэндвичи с цельнозерновым хлебом или напитки без сахара), а также предоставляют информацию о пищевой ценности продуктов в меню или на упаковке. С целью снизить число людей с ожирением рестораны быстрого питания и сети супермаркетов вводят новые, более полезные опции (например, салаты, сэндвичи с цельнозерновым хлебом или напитки без сахара), а также предоставляют информацию о пищевой ценности продуктов в меню или на упаковке.
                        a.blockquote__read(href="#") #[span Развернуть]
                        cite.blockquote__cite
                           span.blockquote__author Василий Петрович
                           span.blockquote__pro Слесарь третьего разряда
               p.text.article__text.
                  Жизнь совершенно непредсказуема. Собрался поехать в отпуск — сделали карантин. Хотел получить повышение — попал под сокращение. И, увы, этих историй тысячи. Может случиться и более сложная ситуация, например, вас уволили с работы, но нужно платить кредит. И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.
               form.form.form--aside(action="#")
                  .form__inner
                     .form__top
                        h2.form__title Бесплатная консультация по списанию долгов
                        p.form__text Оставьте свой телефон, специалист перезвонит вам в течение 1 минуты
                     .form__manage
                        label.form__label
                           span.form__type Additional text
                           input.form__field(type="text" placeholder="Placeholder")
                           span.form__notif Additional text
                        label.form__label
                           span.form__type Additional text
                           input.form__field(type="text" placeholder="Placeholder")
                           span.form__notif Additional text
                        label.form__label
                           span.form__type Additional text
                           input.form__field(type="text" placeholder="Placeholder")
                           span.form__notif Additional text
                        label.form__label
                           span.form__type Additional text
                           input.form__field(type="text" placeholder="Placeholder")
                           span.form__notif Additional text
                     button.form__submit.btn.btn--wide Название кнопки
                     .form__agree
                        label.form__agree-label
                           input(type="checkbox")
                           span.form__agree-checkbox
                              span.form__agree-checkbox__check
                           span.form__agree-text.
                              Я принимаю условия #[a(href="#") Пользовательского соглашения] и даю свое согласие на обработку моих персональных данных в соответствии с #[a(href="#") Политикой конфиденциальности]
               p.text.article__text © ГК «Содействие». При полном или частичном копировании материала ссылка на первоисточник обязательна.

               section.share
                  .share__inner.container
                     .share__top
                        h2.share__title Поделиться:
                        ul.soc
                           li.soc__item
                              a.soc__link.soc__link--fb(href="#")
                                 span.visually-hidden фейсбук
                                 img(src="images/icons/facebook.svg" alt="facebook" width="16" height="16")
                           li.soc__item
                              a.soc__link.soc__link--tg(href="#")
                                 span.visually-hidden телеграм
                                 img(src="images/icons/telegram.svg" alt="telegram" width="16" height="14")
                           li.soc__item
                              a.soc__link.soc__link--ok(href="#")
                                 span.visually-hidden одноклассники
                                 img(src="images/icons/ok.svg" alt="ok" width="12" height="20")
                           li.soc__item
                              a.soc__link.soc__link--pt(href="#")
                                 span.visually-hidden пинтерест
                                 img(src="images/icons/pinterest.svg" alt="ok" width="16" height="16")
                     .share__bottom
                        ul.share__icons
                           li
                              a(href="#") 
                                 img.share__icons-icon(src="images/icons/comment.svg" alt="иконка" width="24" height="24")
                                 span.share__icons-num 45 505
                           li
                              a(href="#")
                                 img.share__icons-icon(src="images/icons/like.svg" alt="иконка" width="24" height="24")
                                 span.share__icons-num 45 505
                           li
                              a(href="#") 
                                 img.share__icons-icon(src="images/icons/dislike.svg" alt="иконка" width="24" height="24")
                                 span.share__icons-num 45 505

               ul.article__themes
                  li
                     a(href="#") Ипотека
                  li
                     a(href="#") Банкротство
                  li
                     a(href="#") Улучшение условий
                  li
                     a(href="#") Переуступка прав
               section.comment#comment
                  .comment__inner
                     h2.comment__title.title Комментарии: #[span.comment__title-num 21]
                     .comment__block
                        ul.comment__list
                           li.comment__item
                              .comment__answer
                                 header.comment__header
                                    .comment__names
                                       p.comment__author Igor Popov
                                    .comment__info
                                       p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="16" height="16")] 543
                                       time.comment__time(datetime="2022-03-02") 02.03.2022
                                 p.comment__text.
                                    В ломбард обращаться не самая лучшая идея, это то же самое, что менять шило на мыло. Если есть возможность получить деньги у родственников, лучше этот вариант. Конечно выплатить своевременно.
                                 .comment__manage
                                    button.comment__btn Комментировать
                           li.comment__item
                              .comment__answer
                                 header.comment__header
                                    .comment__names
                                       p.comment__author Надежда
                                    .comment__info
                                       p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="18" height="18")] 543
                                       time.comment__time(datetime="2022-03-02") 02.03.2022
                                 p.comment__text.
                                    Да это верно,здесь задолженность погасить у коллекторов,но образуется задолженность в ломбард,а там процент ничуть не меньше,чем в займам,поэтому прежде чем брать займ, лучше 100 раз подумать о всех последствиях.
                                 .comment__manage
                                    button.comment__btn Комментировать
                           li.comment__item
                              .comment__answer
                                 header.comment__header
                                    .comment__names
                                       p.comment__author София
                                    .comment__info
                                       p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="16" height="16")] 543
                                       time.comment__time(datetime="2022-03-02") 02.03.2022
                                 p.comment__text.
                                    Увы Мы живем в такое время, когда без взятия кредита не обойтись! Вот и наша семья столкнулась с такой проблемой, нужна была достаточно большая сумма на лечение в частной клинике, а среднестатистической семье таких денег взять не от куда. Большую часть мы уже выплатили, но все же долг еще значительный. В статье заинтересовал пункт "Рефинансирование" - если его запрашивать, то мы получаем новый кредит под больший процент? Или же это зависит от условий кредитной организации?
                                 .comment__manage
                                    button.comment__btn Комментировать
                                    button.comment__btn.comment__show #[span Показать 2 ответа]
                              .comment__dialog
                                 .comment__answer
                                    header.comment__header
                                       .comment__names
                                          p.comment__author Igor Popov
                                          p.comment__person София
                                       .comment__info
                                          p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="16" height="16")] 543
                                          time.comment__time(datetime="2022-03-02") 02.03.2022
                                    p.comment__text.
                                       Увы Мы живем в такое время, когда без взятия кредита не обойтись! Вот и наша семья столкнулась с такой проблемой, нужна была достаточно большая сумма на лечение в частной клинике, а среднестатистической семье таких денег взять не от куда. Большую часть мы уже выплатили, но все же долг еще значительный. В статье заинтересовал пункт "Рефинансирование" - если его запрашивать, то мы получаем новый кредит под больший процент? Или же это зависит от условий кредитной организации?
                                    .comment__manage
                                       button.comment__btn Комментировать
                                 .comment__answer
                                    header.comment__header
                                       .comment__names
                                          p.comment__author Надежда
                                          p.comment__person София
                                       .comment__info
                                          p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="16" height="16")] 543
                                          time.comment__time(datetime="2022-03-02") 02.03.2022
                                    p.comment__text.
                                       Увы Мы живем в такое время, когда без взятия кредита не обойтись! Вот и наша семья столкнулась с такой проблемой, нужна была достаточно большая сумма на лечение в частной клинике, а среднестатистической семье таких денег взять не от куда. Большую часть мы уже выплатили, но все же долг еще значительный. В статье заинтересовал пункт "Рефинансирование" - если его запрашивать, то мы получаем новый кредит под больший процент? Или же это зависит от условий кредитной организации?
                                    .comment__manage
                                       button.comment__btn Комментировать
                           li.comment__item
                              .comment__answer
                                 header.comment__header
                                    .comment__names
                                       p.comment__author София
                                    .comment__info
                                       p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="16" height="16")] 543
                                       time.comment__time(datetime="2022-03-02") 02.03.2022
                                 p.comment__text.
                                    Увы Мы живем в такое время, когда без взятия кредита не обойтись! Вот и наша семья столкнулась с такой проблемой, нужна была достаточно большая сумма на лечение в частной клинике, а среднестатистической семье таких денег взять не от куда. Большую часть мы уже выплатили, но все же долг еще значительный. В статье заинтересовал пункт "Рефинансирование" - если его запрашивать, то мы получаем новый кредит под больший процент? Или же это зависит от условий кредитной организации?
                                 .comment__manage
                                    button.comment__btn Комментировать
                                    button.comment__btn.comment__show #[span Показать 2 ответа]
                              .comment__dialog
                                 .comment__answer
                                    header.comment__header
                                       .comment__names
                                          p.comment__author Igor Popov
                                          p.comment__person София
                                       .comment__info
                                          p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="16" height="16")] 543
                                          time.comment__time(datetime="2022-03-02") 02.03.2022
                                    p.comment__text.
                                       Увы Мы живем в такое время, когда без взятия кредита не обойтись! Вот и наша семья столкнулась с такой проблемой, нужна была достаточно большая сумма на лечение в частной клинике, а среднестатистической семье таких денег взять не от куда. Большую часть мы уже выплатили, но все же долг еще значительный. В статье заинтересовал пункт "Рефинансирование" - если его запрашивать, то мы получаем новый кредит под больший процент? Или же это зависит от условий кредитной организации?
                                    .comment__manage
                                       button.comment__btn Комментировать
                                 .comment__answer
                                    header.comment__header
                                       .comment__names
                                          p.comment__author Надежда
                                          p.comment__person София
                                       .comment__info
                                          p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="16" height="16")] 543
                                          time.comment__time(datetime="2022-03-02") 02.03.2022
                                    p.comment__text.
                                       Увы Мы живем в такое время, когда без взятия кредита не обойтись! Вот и наша семья столкнулась с такой проблемой, нужна была достаточно большая сумма на лечение в частной клинике, а среднестатистической семье таких денег взять не от куда. Большую часть мы уже выплатили, но все же долг еще значительный. В статье заинтересовал пункт "Рефинансирование" - если его запрашивать, то мы получаем новый кредит под больший процент? Или же это зависит от условий кредитной организации?
                                    .comment__manage
                                       button.comment__btn Комментировать
                           li.comment__item
                              .comment__answer
                                 header.comment__header
                                    .comment__names
                                       p.comment__author Igor Popov
                                    .comment__info
                                       p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="16" height="16")] 543
                                       time.comment__time(datetime="2022-03-02") 02.03.2022
                                 p.comment__text.
                                    В ломбард обращаться не самая лучшая идея, это то же самое, что менять шило на мыло. Если есть возможность получить деньги у родственников, лучше этот вариант. Конечно выплатить своевременно.
                                 .comment__manage
                                    button.comment__btn Комментировать
                           li.comment__item
                              .comment__answer
                                 header.comment__header
                                    .comment__names
                                       p.comment__author Надежда
                                    .comment__info
                                       p.comment__like #[img(src="images/icons/heart-gray.svg" alt="иконка" width="18" height="18")] 543
                                       time.comment__time(datetime="2022-03-02") 02.03.2022
                                 p.comment__text.
                                    Да это верно,здесь задолженность погасить у коллекторов,но образуется задолженность в ломбард,а там процент ничуть не меньше,чем в займам,поэтому прежде чем брать займ, лучше 100 раз подумать о всех последствиях.
                                 .comment__manage
                                    button.comment__btn Комментировать

                        a.comment__all(href="#") #[span Показать еще комментарии]
                     form.form.form--aside(action="#")
                        .form__inner
                           .form__top
                              h2.form__title Оставьте свой комментарий к этой публикации
                           .form__manage
                              label.form__label
                                 span.form__type Additional text
                                 input.form__field(type="text" placeholder="Placeholder")
                                 span.form__notif Additional text
                              label.form__label
                                 span.form__type Additional text
                                 input.form__field(type="text" placeholder="Placeholder")
                                 span.form__notif Additional text
                           button.form__submit.btn.btn--wide Поделиться мнением
            aside.section__aside
