extends base/_layout
block head
   title Калькулятор рефинансирования
block page

   .breadcrumbs
      ul.breadcrumbs__list
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Главная
         li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--active(href="#") Калькулятор рефинансирования

   section.calc
      .calc__inner.container#calcList
         h2.main-title Калькулятор рефинансирования
         ul.tabs(data-id='calcList')
            li.tabs__item
               a.tabs__btn(href="#calc-1") Калькулятор рефинансирования
            li.tabs__item
               a.tabs__btn(href="#calc-2") Калькулятор досрочного погашения
            li.tabs__item
               a.tabs__btn(href="#calc-3") Сравнение ставок
         .tabs-content__wrapper
            .tabs-content.tabs-content--active#calc-1
               .calc__section.section
                  .calc__info.section__info
                     .calc__content
                        .calc__chapter
                           h3.calc__step Шаг 1. Ваши действующие кредиты:
                           .calc__list
                              .calc__box
                                 .calc__top
                                    p.calc__num Кредит 2
                                    button.calc__del
                                       img(src="images/icons/close-circle.svg" alt="удалить" width="24" height="24")
                                 .calc__manage
                                    label.calc__label
                                       span.calc__type Сумма действующего кредита:
                                       span.calc__input
                                          input.calc__field(type="text")
                                          span.calc__ruble руб.
                                    label.calc__label
                                       span.calc__type Ваши ежемесячные платежи:
                                       span.calc__input
                                          input.calc__field(type="text")
                                          span.calc__ruble руб.
                              .calc__box
                                 .calc__top
                                    p.calc__num Кредит 3
                                    button.calc__del
                                       img(src="images/icons/close-circle.svg" alt="удалить" width="24" height="24")
                                 .calc__manage
                                    label.calc__label
                                       span.calc__type Сумма действующего кредита:
                                       span.calc__input
                                          input.calc__field(type="text")
                                          span.calc__ruble руб.
                                    label.calc__label
                                       span.calc__type Ваши ежемесячные платежи:
                                       span.calc__input
                                          input.calc__field(type="text")
                                          span.calc__ruble руб.
                              .calc__box
                                 .calc__top
                                    p.calc__num Кредит 1
                                    button.calc__del
                                       img(src="images/icons/close-circle.svg" alt="удалить" width="24" height="24")
                                 .calc__manage
                                    label.calc__label
                                       span.calc__type Сумма действующего кредита:
                                       span.calc__input
                                          input.calc__field(type="text")
                                          span.calc__ruble руб.
                                    label.calc__label
                                       span.calc__type Ваши ежемесячные платежи:
                                       span.calc__input
                                          input.calc__field(type="text")
                                          span.calc__ruble руб.
                           button.calc__add + Добавить еще один кредит
                           .calc__bottom
                              p.calc__pay По всем кредитам в данный момент вы платите в месяц:
                              p.calc__price 45 000 руб.

                        .calc__chapter
                           h3.calc__step Шаг 2. Расчет на основе ваших данных:
                           .calc__block
                              .calc__manage
                                 label.calc__label
                                    span.calc__type Необходимые средства для перекредитования:
                                    span.calc__input
                                       input.calc__field(type="text")
                                       span.calc__ruble руб.
                                 label.calc__label
                                    span.calc__type Дополнительные средства:
                                    span.calc__input
                                       input.calc__field(type="text")
                                       span.calc__ruble руб.
                                 label.calc__label
                                    span.calc__type Общая сумма кредита:
                                    span.calc__input
                                       input.calc__field(type="text")
                                       span.calc__ruble руб.
                                 label.calc__label
                                    span.calc__type Срок кредита, лет.
                                    span.calc__input
                                       input.calc__field(type="text")
                                       span.calc__ruble руб.
                              .calc__offer
                                 p.calc__offer-desc ЕСЛИ ВЫ БУДЕТЕ РЕФИНАНСИРОВАТЬСЯ У НАС — ВАШИ ВЫПЛАТЫ В МЕСЯЦ
                                 p.calc__payment 34 000 руб.
                                 p.calc__benefit Выгода 12 000 руб. каждый месяц!

                  aside.section__aside.calc__aside
                     form.form.form--aside(action="#")
                        .form__inner
                           .form__manage
                              .form__label
                                 span.form__type Additional text
                                 select.form__field.location-list
                                    option Москва
                                    option Санкт-Петербург
                                    option Краснодар
                                    option Челябинск
                                    option Ростов-на-Дону
                              label.form__label
                                 span.form__type Additional text
                                 input.form__field(type="text" placeholder="Placeholder")
                                 span.form__notif Additional text
                              label.form__label
                                 span.form__type Additional text
                                 input.form__field(type="text" placeholder="Placeholder")
                                 span.form__notif Additional text
                              label.form__label
                                 span.form__type Additional text
                                 input.form__field(type="text" placeholder="Placeholder")
                                 span.form__notif Additional text
                           ul.form__list
                              li.form__list-item
                                 p.form__list-type Общая сумма кредита
                                 p.form__list-price 12 000 000 руб.
                              li.form__list-item
                                 p.form__list-type Процентная ставка
                                 p.form__list-price 6.9% годовых
                              li.form__list-item
                                 p.form__list-type Срок кредита
                                 p.form__list-price 15 лет
                           button.form__submit.btn.btn--wide Название кнопки
                           .form__agree
                              label.form__agree-label
                                 input(type="checkbox")
                                 span.form__agree-checkbox
                                    span.form__agree-checkbox__check
                                 span.form__agree-text.
                                    Я принимаю условия #[a(href="#") Пользовательского соглашения] и даю свое согласие на обработку моих персональных данных в соответствии с #[a(href="#") Политикой конфиденциальности]
                           .form__bottom
                              a.form__tel.tel(href="#") +7 (495) 324-11-34
                              p.form__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                              a.form__email.email(href="mailto:support@gksod.ru") support@gksod.ru

            .tabs-content#calc-2
               .calc__section.section
                  .calc__info.section__info
                     .calc__content
                        .calc__chapter
                           h3.calc__step Введите данные по своему текущему кредиту:
                           .calc__block.calc__block--total
                              .calc__manage
                                 label.calc__label
                                    span.calc__type Сумма кредита, рубли:
                                    span.calc__input
                                       input.calc__field(type="text" placeholder="1 000 000")
                                       span.calc__ruble руб.
                                 label.calc__label
                                    span.calc__type Срок кредита, лет:
                                    span.calc__input
                                       input.calc__field(type="text" placeholder="15")
                                 label.calc__label
                                    span.calc__type Ставка кредитования, % годовых:
                                    span.calc__input
                                       input.calc__field(type="text" placeholder="10.00")
                                       span.calc__ruble %
                                 label.calc__label
                                    span.calc__type Дата получения кредита:
                                    span.calc__input
                                       input.calc__field(type="text" placeholder="ДД.ММ.ГГГГ")
                                 label.calc__label
                                    span.calc__type Ежемесячный платеж без досрочного погашения:
                                    span.calc__input
                                       input.calc__field(type="text" placeholder="50 000")
                                       span.calc__ruble руб.
                                 label.calc__label
                                    span.calc__type Ежемесячная сумма досрочного погашения:
                                    span.calc__input
                                       input.calc__field(type="text" placeholder="10 000")
                                       span.calc__ruble руб.
                           .calc__total
                              .calc__total-list
                                 .calc__total-item
                                    p.calc__total-type Общая переплата в рублях:
                                    p.calc__total-num 45 000 руб.
                                 .calc__total-item
                                    p.calc__total-type Общая переплата в процентах:
                                    p.calc__total-num 12 %
                              .calc__total-list
                                 .calc__total-item
                                    p.calc__total-type Общая переплата при досрочном погашении:
                                    p.calc__total-num 12 000 руб.

                           .calc__total
                              .calc__total-list
                                 .calc__total-item
                                    p.calc__total-type Срок погашения кредита при досрочном погашении, месяцев:
                                    p.calc__total-num 12
                                 .calc__total-item
                                    p.calc__total-type Ежемесячный платеж с досрочным погашением:
                                    p.calc__total-num 56 000 руб.

                           .calc__offer.calc__offer--total
                              p.calc__benefit Ваша экономия при досрочном погашении:
                              p.calc__payment 34 000 руб.

                  aside.section__aside.calc__aside
                     form.form.form--aside(action="#")
                        .form__inner
                           .form__manage
                              .form__label
                                 span.form__type Additional text
                                 select.form__field.location-list
                                    option Москва
                                    option Санкт-Петербург
                                    option Краснодар
                                    option Челябинск
                                    option Ростов-на-Дону
                              label.form__label
                                 span.form__type Additional text
                                 input.form__field(type="text" placeholder="Placeholder")
                                 span.form__notif Additional text
                              label.form__label
                                 span.form__type Additional text
                                 input.form__field(type="text" placeholder="Placeholder")
                                 span.form__notif Additional text
                              label.form__label
                                 span.form__type Additional text
                                 input.form__field(type="text" placeholder="Placeholder")
                                 span.form__notif Additional text
                           ul.form__list
                              li.form__list-item
                                 p.form__list-type Общая сумма кредита
                                 p.form__list-price 12 000 000 руб.
                              li.form__list-item
                                 p.form__list-type Процентная ставка
                                 p.form__list-price 6.9% годовых
                              li.form__list-item
                                 p.form__list-type Срок кредита
                                 p.form__list-price 15 лет
                           button.form__submit.btn.btn--wide Название кнопки
                           p.form__about.
                              Нажимая кнопку отправить вы даете согласие на обработку персональных данных в рамках этого #[a(href="#") соглашения].

            .tabs-content#calc-3
               .calc__section.section
                  .calc__info.section__info
                     .calc__content
                        .calc__chapter
                           h3.calc__step Расчет ежемесячного платежа и сравнение по ставке и сроку:
                           .calc__block.calc__block--total
                              .calc__manage
                                 label.calc__label
                                    span.calc__type Сумма кредита, рубли:
                                    span.calc__input
                                       input.calc__field(type="text" placeholder="1 000 000")
                                       span.calc__ruble руб.
                                 label.calc__label
                                    span.calc__type Срок кредита, лет:
                                    span.calc__input
                                       input.calc__field(type="text" placeholder="15")
                           
                           .calc__choose
                              .calc__choose-item
                                 p.calc__choose-type Введите годовые процентные ставки для сравнения платежей:
                                 .calc__choose-manage
                                    input.calc__choose-field(type="text" placeholder="20")
                                    input.calc__choose-field(type="text" placeholder="15")
                              .calc__choose-item
                                 p.calc__choose-type Ежемесячный платеж, руб.:
                                 .calc__choose-manage
                                    input.calc__choose-field.calc__choose-field--sec(type="text")
                                    input.calc__choose-field.calc__choose-field--sec(type="text")
                              .calc__choose-item
                                 p.calc__choose-type Фактическая переплата за весь период, руб.:
                                 .calc__choose-manage
                                    input.calc__choose-field.calc__choose-field--sec(type="text")
                                    input.calc__choose-field.calc__choose-field--sec(type="text")

                           .calc__offer.calc__offer--total.calc__offer--choose
                              p.calc__benefit Разница в переплате за счет ставки, руб.:
                              p.calc__payment 34 000 руб.

                  aside.section__aside.calc__aside
                     form.form.form--aside(action="#")
                        .form__inner
                           .form__manage
                              .form__label
                                 span.form__type Additional text
                                 select.form__field.location-list
                                    option Москва
                                    option Санкт-Петербург
                                    option Краснодар
                                    option Челябинск
                                    option Ростов-на-Дону
                              label.form__label
                                 span.form__type Additional text
                                 input.form__field(type="text" placeholder="Placeholder")
                                 span.form__notif Additional text
                              label.form__label
                                 span.form__type Additional text
                                 input.form__field(type="text" placeholder="Placeholder")
                                 span.form__notif Additional text
                              label.form__label
                                 span.form__type Additional text
                                 input.form__field(type="text" placeholder="Placeholder")
                                 span.form__notif Additional text
                           ul.form__list
                              li.form__list-item
                                 p.form__list-type Общая сумма кредита
                                 p.form__list-price 12 000 000 руб.
                              li.form__list-item
                                 p.form__list-type Процентная ставка
                                 p.form__list-price 6.9% годовых
                              li.form__list-item
                                 p.form__list-type Срок кредита
                                 p.form__list-price 15 лет
                           button.form__submit.btn.btn--wide Название кнопки
                           p.form__about.
                              Нажимая кнопку отправить вы даете согласие на обработку персональных данных в рамках этого #[a(href="#") соглашения].

   section.explane
      .explane__inner.container
         h2.title.visually-hidden Информация о нашей компании
         .explane__content
            .explane__box.explane__box--active
               article.explane__article
                  h2.title.explane__title Кредитный брокер
                  p Кредитный брокер — финансовый помощник, который является посредником между кредитной организацией и потенциальным заемщиком, желающим взять кредит в банке. Помощь кредитного брокера заключается в проверке кредитной истории заявителя, выборе наиболее надежного банка, комфортного условия кредитования, сборе и подаче необходимых документов, выборе способа и графика погашения займа, тщательной проверке документов и поиске подводных камней, если таковые имеются.
               article.explane__article
                  h2.title.explane__title Кто обращается к брокерам?
                  p.
                     Или другая ситуация. Потенциальный заявитель изучал информацию о кредитах в интернете и наткнулся на Хатон.ру. Отзывы прекрасные и знакомые советуют. Клиент будущего банка по кредитам решил, что это отличная возможность собрать информацию о комфортных условиях кредитования, процентных ставках и сроках платежей. Ведь человек не является специалистом и не знать, где, как и что искать. #[br]
                     Молодой человек предоставил все необходимые документы и спокойно работал дальше, пока брокер делал все за него. А в какой-то момент ему просто предоставили целый пакет документов с процентными ставками, предложениями и видами кредитов. Так клиент кредитования выбрал наиболее удобный вариант для себя и не потратил огромное количество времени на бессмысленные поиски лучшего варианта. Все сделали за него. Причем среди всех предложений, он выбрал с самой низкой ставкой — 4.9% годовых. Сам бы он вряд ли нашел такое хорошее решение.
            .explane__box
               article.explane__article
                  h2.title.explane__title Преимущества брокера Хатон.ру
                  p Экономия огромного пласта времени, так как с вас потребуется только документация и ничего более.

                  p Вы можете прийти в отделение, а можете подать заявку онлайн.
                  p Стоимость услуг зависит от ситуации и оговаривается заранее. Причем, вы платите процент от кредита и только в том случае, если вам его одобрили. Обычно это 3%. Как вы помните, мы уточняли, что частные брокеры могут брать от 10 до 20%, поэтому 3% это не так много за уже одобренный займ.
                  p Данный кредитный брокер работает честно и в соответствии с законом. Вам не будут предлагать мухлевать с документами или обманывать банки. Во-первых, потому что это ничего не даст и обман вскроется уже на второй проверке документов банком, а во-вторых, данному брокеру это просто не нужно. Если они видят, что одобрение кредита невозможно, вам так и скажут. И вряд ли, одобрение возможно хоть каким-либо путем, если Хатон сказал, что этого просто нельзя никаким образом добиться.
                  p Все специалисты Хатон.ру, без исключения, работали ранее в банках и знаю всю структуру изнутри. Колоссальный опыт и знания обуславливают рейтинг компании и дают такой высокий результат.
                  p В заключении можно сказать, что если и стоит обращаться к кредитному брокеру, только к таким проверенным, как Хатон.ру.

         a.explane__more(href="#") Развернуть СЕО-тест

   address.address
      .address__inner
         .address__content.container
            .address__info
               .address__top
                  p.title.address__title Наш офис
                  p.address__city г. Москва, Нижний Сусальный переулок, д. 5, стр. 1
               p.address__text Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
               .address__contacts
                  a.address__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                  p.address__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
               ul.address__manage
                  li
                     a.btn.btn--sec(href="#") Заказать звонок
                  li
                     a.btn(href="#") Заказать услугу
            .address__map
               iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17961.85417182666!2d37.68580660191187!3d55.75447590574944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54aa4681e5943%3A0x4ce0b691b25536c4!2z0YAt0L0g0JvQtdGE0L7RgNGC0L7QstC-LCDQnNC-0YHQutCy0LA!5e0!3m2!1sru!2sru!4v1672594843788!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")