extends base/_layout
block head
   title Наша команда
block page

   .breadcrumbs
      ul.breadcrumbs__list
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Главная
         li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--active(href="#") Наша команда

   section.team
      .team__inner.container
         h1.main-title Наша команда
         ul.team__list
            li.team__item
               .team__photo
                  .background-image
                     picture
                        source(srcset="images/team/team-1.webp" type="image/webp")
                        img(src="images/team/team-1.jpg" alt="команда" width="160" height="191")
               .team__info
                  p.team__name Механтьев Мариан Ефремович
                  p.team__pro Руководитель направления розничного кредитования для привелигированных клиентов
            li.team__item
               .team__photo
                  .background-image
                     picture
                        source(srcset="images/team/team-2.webp" type="image/webp")
                        img(src="images/team/team-2.jpg" alt="команда" width="160" height="191")
               .team__info
                  p.team__name Викашев Август Емельянович
                  p.team__pro Руководитель направления розничного кредитования для привелигированных клиентов
            li.team__item
               .team__photo
                  .background-image
                     picture
                        source(srcset="images/team/team-3.webp" type="image/webp")
                        img(src="images/team/team-3.jpg" alt="команда" width="160" height="191")
               .team__info
                  p.team__name Милехин Стакрат Георгиевич
                  p.team__pro Руководитель направления розничного кредитования для привелигированных клиентов
            li.team__item
               .team__photo
                  .background-image
                     picture
                        source(srcset="images/team/team-4.webp" type="image/webp")
                        img(src="images/team/team-4.jpg" alt="команда" width="160" height="191")
               .team__info
                  p.team__name Покровский Мефодий Ипполитович
                  p.team__pro Руководитель направления розничного кредитования для привелигированных клиентов
            li.team__item
               .team__photo
                  .background-image
                     picture
                        source(srcset="images/team/team-5.webp" type="image/webp")
                        img(src="images/team/team-5.jpg" alt="команда" width="160" height="191")
               .team__info
                  p.team__name Подшивалов Еремей Ростиславович
                  p.team__pro Руководитель направления розничного кредитования для привелигированных клиентов
            li.team__item
               .team__photo
                  .background-image
                     picture
                        source(srcset="images/team/team-6.webp" type="image/webp")
                        img(src="images/team/team-6.jpg" alt="команда" width="160" height="191")
               .team__info
                  p.team__name Толстокожев Вячеслав Филиппович
                  p.team__pro Руководитель направления розничного кредитования для привелигированных клиентов
            li.team__item
               .team__photo
                  .background-image
                     picture
                        source(srcset="images/team/team-7.webp" type="image/webp")
                        img(src="images/team/team-7.jpg" alt="команда" width="160" height="191")
               .team__info
                  p.team__name Яромеев Моисей Святославович
                  p.team__pro Руководитель направления розничного кредитования для привелигированных клиентов
            li.team__item
               .team__photo
                  .background-image
                     picture
                        source(srcset="images/team/team-8.webp" type="image/webp")
                        img(src="images/team/team-8.jpg" alt="команда" width="160" height="191")
               .team__info
                  p.team__name Кондуров Никита Германович
                  p.team__pro Руководитель направления розничного кредитования для привелигированных клиентов
            li.team__item.team__item--hidden
               .team__photo
                  .background-image
                     picture
                        source(srcset="images/team/team-9.webp" type="image/webp")
                        img(src="images/team/team-9.jpg" alt="команда" width="160" height="191")
               .team__info
                  p.team__name Пронин Абрам Эммануилович
                  p.team__pro Руководитель направления розничного кредитования для привелигированных клиентов
            li.team__item.team__item--hidden
               .team__photo
                  .background-image
                     picture
                        source(srcset="images/team/team-10.webp" type="image/webp")
                        img(src="images/team/team-10.jpg" alt="команда" width="160" height="191")
               .team__info
                  p.team__name Прокофий Александрович
                  p.team__pro Руководитель направления розничного кредитования для привелигированных клиентов
            li.team__item.team__item--hidden
               .team__photo
                  .background-image
                     picture
                        source(srcset="images/team/team-11.webp" type="image/webp")
                        img(src="images/team/team-11.jpg" alt="команда" width="160" height="191")
               .team__info
                  p.team__name Розанов Мариан Илларионович
                  p.team__pro Руководитель направления розничного кредитования для привелигированных клиентов
            li.team__item.team__item--hidden
               .team__photo
                  .background-image
                     picture
                        source(srcset="images/team/team-12.webp" type="image/webp")
                        img(src="images/team/team-12.jpg" alt="команда" width="160" height="191")
               .team__info
                  p.team__name Воронов Авдей Святославович
                  p.team__pro Руководитель направления розничного кредитования для привелигированных клиентов
         
         .pagination
            .pagination__list
               a.pagination__btn(href="#") 1
               a.pagination__btn.pagination__btn--active(href="#") 2
               a.pagination__btn(href="#") 3
               a.pagination__btn(href="#") ...
               a.pagination__btn(href="#") 45

   section.explane
      .explane__inner.container
         .explane__content
            .explane__box.explane__box--active
               article.explane__article
                  h2.title.explane__title Кредитный брокер
                  p Кредитный брокер — финансовый помощник, который является посредником между кредитной организацией и потенциальным заемщиком, желающим взять кредит в банке. Помощь кредитного брокера заключается в проверке кредитной истории заявителя, выборе наиболее надежного банка, комфортного условия кредитования, сборе и подаче необходимых документов, выборе способа и графика погашения займа, тщательной проверке документов и поиске подводных камней, если таковые имеются.
               article.explane__article
                  h2.title.explane__title Кто обращается к брокерам?
                  p.
                     Или другая ситуация. Потенциальный заявитель изучал информацию о кредитах в интернете и наткнулся на Хатон.ру. Отзывы прекрасные и знакомые советуют. Клиент будущего банка по кредитам решил, что это отличная возможность собрать информацию о комфортных условиях кредитования, процентных ставках и сроках платежей. Ведь человек не является специалистом и не знать, где, как и что искать. #[br]
                     Молодой человек предоставил все необходимые документы и спокойно работал дальше, пока брокер делал все за него. А в какой-то момент ему просто предоставили целый пакет документов с процентными ставками, предложениями и видами кредитов. Так клиент кредитования выбрал наиболее удобный вариант для себя и не потратил огромное количество времени на бессмысленные поиски лучшего варианта. Все сделали за него. Причем среди всех предложений, он выбрал с самой низкой ставкой — 4.9% годовых. Сам бы он вряд ли нашел такое хорошее решение.
            .explane__box
               article.explane__article
                  h2.title.explane__title Преимущества брокера Хатон.ру
                  p Экономия огромного пласта времени, так как с вас потребуется только документация и ничего более.

                  p Вы можете прийти в отделение, а можете подать заявку онлайн.
                  p Стоимость услуг зависит от ситуации и оговаривается заранее. Причем, вы платите процент от кредита и только в том случае, если вам его одобрили. Обычно это 3%. Как вы помните, мы уточняли, что частные брокеры могут брать от 10 до 20%, поэтому 3% это не так много за уже одобренный займ. 
                  p Данный кредитный брокер работает честно и в соответствии с законом. Вам не будут предлагать мухлевать с документами или обманывать банки. Во-первых, потому что это ничего не даст и обман вскроется уже на второй проверке документов банком, а во-вторых, данному брокеру это просто не нужно. Если они видят, что одобрение кредита невозможно, вам так и скажут. И вряд ли, одобрение возможно хоть каким-либо путем, если Хатон сказал, что этого просто нельзя никаким образом добиться.
                  p Все специалисты Хатон.ру, без исключения, работали ранее в банках и знаю всю структуру изнутри. Колоссальный опыт и знания обуславливают рейтинг компании и дают такой высокий результат. 
                  p В заключении можно сказать, что если и стоит обращаться к кредитному брокеру, только к таким проверенным, как Хатон.ру.

         a.explane__more(href="#") Развернуть СЕО-тест

   address.address
      .address__inner
         .address__content.container
            .address__info
               .address__top
                  h2.title.address__title Наш офис
                  p.address__city г. Москва, Нижний Сусальный переулок, д. 5, стр. 1
               p.address__text Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
               .address__contacts
                  a.address__tel(href="tel:+74953241134") +7 (495) 324-11-34
                  p.address__time Ежедневно без выходных с 10:00 до 19:00 (мск.)
               ul.address__manage
                  li
                     a.btn.btn--sec(href="#") Заказать звонок
                  li
                     a.btn(href="#") Заказать услугу
            .address__map
               .background-image
                  picture
                     img(src="images/address/map.jpg" alt="карта" width="332" height="330")