extends base/_layout
block head
   title Контакты
block page

   .breadcrumbs
      ul.breadcrumbs__list
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Главная
         li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--active(href="#") Контакты

   section.contacts
      .contacts__inner
         h1.main-title.container Контакты
         .contacts__box
            .contacts__content
               .contacts__block
                  .contacts__info
                     .contacts__sec
                        h2.contacts__title Москва и Московская область
                        p.contacts__text 105064, г. Москва, Нижний Сусальный пер., д. 5, стр. 16
                     .contacts__sec
                        p.contacts__title
                           a(href="tel:+74953241134") +7 (495) 324-11-34
                        p.contacts__time Понедельник — Пятница: с 10:00 до 19:00 #[br] Суббота — Воскресенье: Выходной
                        a.contacts__email(href="mailto:info@gksod.ru") info@gksod.ru
                  .contacts__map
                     .background-image
                        picture
                           img(src="images/address/map.jpg" alt="карта" width="332" height="330")
               .notice
                  p #[span.notice__important Дорогие клиенты, будьте осторожны!]
                  p.
                     В последнее время, нам поступают жалобы от вас, что компания со схожим названием представляется нашим именем. Сотрудники данной компании приглашают наших клиентов к себе в офис на ул. Большая Якиманка и подписывают договора на оказание услуг, при этом берут с клиентов большую предоплату. Будьте внимательны, наша компания никогда не берет предоплаты, мы находимся по адресу Нижний Сусальный пер. д. 5с16. Наша компания существует с 2008 годы, мы никогда не меняли юрлицо и всегда работаем на результат. Наше официальное название Общество с ограниченной ответственностью Группа Компаний "Содействие", наш ИНН 7724679358. #[br]
                     Прилагаем скрины договоров, с компанией «Содействие» с которой нас путают, будьте бдительны, не попадайтесь на недобросовестных исполнителей и не платите наперед.
                  p.
                     В связи с участившимися случаями мошенничества от лица Группы Компаний "Содействие" просим Вас быть осторожнее, не переводить деньги незнакомым людям. Для Вашей безопасности все наши сотрудники пишут с корпоративной почты, заканчивающейся на @gksod.ru, мы всегда работаем БЕЗ ПРЕДОПЛАТЫ и только после ЛИЧНОЙ встречи в нашем офисе по адресу: #[span.notice__important г. Москва, ул. Нижний Сусальный пер., д. 5, стр. 16.]
                  p  #[span.notice__important По всем возникшим вопросам обращайтесь по номеру, указанному на сайте.]