extends base/_layout
block head
   title Главная

block page

   section.finance
      .finance__inner
         button.swiper-button-prev.finance__prev
         button.swiper-button-next.finance__next
         .finance__slider-wrapper
            .finance__slider
               .finance__swiper
                  .swiper-wrapper
                     .finance__slide.swiper-slide
                        .finance__slide-inner
                           .finance__info
                              h2.main-title.finance__title Рефинансируйте #[br] кредиты
                              p.finance__text.
                                 Рефинансирование кредита на лучших условиях, с возможностью получения дополнительных средств.
                              a.btn.btn--big(href="#") Заказать услугу
                           .finance__img
                              picture
                                 source(srcset="images/finance/finance-pic.webp" type="image/webp")
                                 img(src="images/finance/finance-pic.png" alt="картинка" width="280" height="247")
                     .finance__slide.swiper-slide
                        .finance__slide-inner
                           .finance__info
                              h2.main-title.finance__title Рефинансируйте #[br] кредиты
                              p.finance__text.
                                 Рефинансирование кредита на лучших условиях, с возможностью получения дополнительных средств.
                              a.btn.btn--big(href="#") Заказать услугу
                           .finance__img
                              picture
                                 source(srcset="images/finance/finance-pic.webp" type="image/webp")
                                 img(src="images/finance/finance-pic.png" alt="картинка" width="280" height="247")
                     .finance__slide.swiper-slide
                        .finance__slide-inner
                           .finance__info
                              h2.main-title.finance__title Рефинансируйте #[br] кредиты
                              p.finance__text.
                                 Рефинансирование кредита на лучших условиях, с возможностью получения дополнительных средств.
                              a.btn.btn--big(href="#") Заказать услугу
                           .finance__img
                              picture
                                 source(srcset="images/finance/finance-pic.webp" type="image/webp")
                                 img(src="images/finance/finance-pic.png" alt="картинка" width="280" height="247")
                     .finance__slide.swiper-slide
                        .finance__slide-inner
                           .finance__info
                              h2.main-title.finance__title Рефинансируйте #[br] кредиты
                              p.finance__text.
                                 Рефинансирование кредита на лучших условиях, с возможностью получения дополнительных средств.
                              a.btn.btn--big(href="#") Заказать услугу
                           .finance__img
                              picture
                                 source(srcset="images/finance/finance-pic.webp" type="image/webp")
                                 img(src="images/finance/finance-pic.png" alt="картинка" width="280" height="247")

            .finance__thumbs-slider
               .finance__thumbs.services
                  .swiper-wrapper
                     .services__item.swiper-slide
                        h3.services__title Кредит под залог
                        p.services__text.
                           Совершайте покупки, оплачивайте услуги без комиссии, управляйте своими картами.
                     .services__item.swiper-slide
                        h3.services__title Кредит под залог
                        p.services__text.
                           Совершайте покупки, оплачивайте услуги без комиссии, управляйте своими картами.
                     .services__item.swiper-slide
                        h3.services__title Кредит под залог
                        p.services__text.
                           Совершайте покупки, оплачивайте услуги без комиссии, управляйте своими картами.
                     .services__item.swiper-slide
                        h3.services__title Кредит под залог
                        p.services__text.
                           Совершайте покупки, оплачивайте услуги без комиссии, управляйте своими картами.

   .features-wrapper
      .features-wrapper__inner
         section.features
            .features__inner
               ul.features__list
                  li.features__item
                     img.features__icon(src="images/features/features-1.svg" alt="иконка" width="40" height="40")
                     h2.features__title Лучшие условия для быстрого получения кредита
                     p  Мы предлагаем лучшие условия на рынке кредитования и гарантируем быстрое принятие решения.
                  li.features__item
                     img.features__icon(src="images/features/features-2.svg" alt="иконка" width="40" height="40")
                     h2.features__title Лучшие условия для быстрого получения кредита
                     p  Мы предлагаем лучшие условия на рынке кредитования и гарантируем быстрое принятие решения.
                  li.features__item
                     img.features__icon(src="images/features/features-3.svg" alt="иконка" width="40" height="40")
                     h2.features__title Лучшие условия для быстрого получения кредита
                     p  Мы предлагаем лучшие условия на рынке кредитования и гарантируем быстрое принятие решения.
                  li.features__item
                     img.features__icon(src="images/features/features-4.svg" alt="иконка" width="40" height="40")
                     h2.features__title Лучшие условия для быстрого получения кредита
                     p  Мы предлагаем лучшие условия на рынке кредитования и гарантируем быстрое принятие решения.

         section.work
            .work__inner.container
               .work__box
                  .work__top
                     h2.title.work__title Мы работаем на результат!
                     p.
                        Нашими услугами с 2008 по 2021 год воспользовались более 31000 клиентов. Отменное знание всех кредитных программ, специфики работы того или иного банка, а также специальной профессиональной информации позволяет сотрудниками компании “Содействие” подобрать тот кредит который нужен именно Вам.
                  .work__info
                     ul.list.work__list
                        li Оперативность в решении Вашего вопроса. Мы всегда выполняем свою работу в максимально короткие сроки и требуем этого же от наших Банков-партнеров.
                        li Отсутствие предоплаты, работа на результат.
                        li Работа с ГК «Содействие» гарантирует нашим клиентам лучшие условия кредитования на рынке.
                        li Мы обеспечиваем конфиденциальность любой информации, полученной от клиента.
                     .work__bottom
                        a.btn.btn--big.work__btn(href="#") Заказать услугу
                        .work__person
                           p.work__name Гладкова Юлия
                           p.work__pro Главный специалист отдела кредитования
                     .work__img
                        img(src="images/work/work-pro.png" alt="Гладкова Юлия" width="207" height="305")

   section.offer
      .offer__inner#offerSlider
         .offer__top
            h2.title.offer__title.container Наши выгодные предложения
            ul.tabs(data-id="offerSlider")
               li.tabs__item
                  a.tabs__btn(href="#offerSlider1") Рефинансирование
               li.tabs__item
                  a.tabs__btn(href="#offerSlider2") Рефинансирование
               li.tabs__item
                  a.tabs__btn(href="#offerSlider3") Рефинансирование
         .tabs-content__wrapper
            .offer__slider.tabs-content.tabs-content--active#offerSlider1
               button.swiper-button-prev.offer__prev.offer__prev-1
               button.swiper-button-next.offer__next.offer__next-1
               .offer__swiper.offer__swiper-1.swiper-container
                  .swiper-wrapper
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
            .offer__slider.tabs-content#offerSlider2
               button.swiper-button-prev.offer__prev.offer__prev-2
               button.swiper-button-next.offer__next.offer__next-2
               .offer__swiper.offer__swiper-2.swiper-container
                  .swiper-wrapper
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
            .offer__slider.tabs-content#offerSlider3
               button.swiper-button-prev.offer__prev.offer__prev-3
               button.swiper-button-next.offer__next.offer__next-3
               .offer__swiper.offer__swiper-3.swiper-container
                  .swiper-wrapper
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                     .offer__slide.swiper-slide
                        .offer__img
                           .background-image
                              picture
                                 source(srcset="images/offer/offer.webp" type="image/webp")
                                 img(src="images/offer/offer.jpg" alt="картинка" width="307" height="180")
                        .offer__info
                           h3.offer__name Ипотечное кредитование
                           ul.offer__list
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                              li Кредитование бизнеса
                           ul.offer__table
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                              li.offer__table-item
                                 p.offer__table-type Размер кредита
                                 p.offer__table-nums 300 тыс. — 30 млн. руб.
                           a.offer__btn.btn.btn--big(href="#") Заказать услугу
                           .offer__contacts
                              p.offer__desc Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
                              a.offer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                              p.offer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)

   section.presentation
      .presentation__inner.container
         a.presentation__video(href="#")
            .presentation__video-play
               img(src="images/icons/play-circle.svg" alt="play" width="44" height="44")
         .presentation__info
            h2.title.presentation__title Видеопрезентация
            .text.presentation__text
               p.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ac risus eu tellus condimentum sodales. Etiam non sem in neque lacinia feugiat eget ac eros. Quisque sollicitudin urna sed fermentum ornare. 
               p.
                  Aliquam justo lorem, mattis vel sagittis eget, varius ut enim. Nulla ipsum sapien, volutpat in gravida et, porttitor et enim. Sed eu odio eget enim mattis pharetra. In posuere felis vel nisi condimentum euismod. Duis dignissim malesuada magna, ut mollis augue consequat vel. 
               p.
                  Maecenas porttitor, purus et ornare finibus, orci mi tristique ex, dictum pulvinar tellus eros non felis.
            a.btn.btn--other.presentation__btn(href="#") Подробнее о компании

   address.address
      .address__inner
         .address__content.container
            .address__info
               .address__top
                  p.title.address__title Наш офис
                  p.address__city г. Москва, Нижний Сусальный переулок, д. 5, стр. 1
               p.address__text Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
               .address__contacts
                  a.address__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                  p.address__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
               ul.address__manage
                  li
                     a.btn.btn--sec(href="#") Заказать звонок
                  li
                     a.btn(href="#") Заказать услугу
            .address__map
               iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17961.85417182666!2d37.68580660191187!3d55.75447590574944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54aa4681e5943%3A0x4ce0b691b25536c4!2z0YAt0L0g0JvQtdGE0L7RgNGC0L7QstC-LCDQnNC-0YHQutCy0LA!5e0!3m2!1sru!2sru!4v1672594843788!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

   section.office
      h2.visually-hidden Наш офис
      .office__inner
         .office__slider
            .slider.office__swiper.swiper-container
               .swiper-wrapper.office__popup
                  .office__slide.swiper-slide
                     a.office__gallery(href="images/office/office-1.jpg")
                        .office__img
                           .background-image
                              picture
                                 source(srcset="images/office/office-1.webp" type="image/webp")
                                 img(src="images/office/office-1.jpg" alt="картинка" width="394" height="333")
                  .office__slide.swiper-slide
                     a.office__gallery(href="images/office/office-2.jpg") 
                        .office__img
                           .background-image
                              picture
                                 source(srcset="images/office/office-2.webp" type="image/webp")
                                 img(src="images/office/office-2.jpg" alt="картинка" width="394" height="333")
                  .office__slide.swiper-slide
                     a.office__gallery(href="images/office/office-3.jpg") 
                        .office__img
                           .background-image
                              picture
                                 source(srcset="images/office/office-3.webp" type="image/webp")
                                 img(src="images/office/office-3.jpg" alt="картинка" width="394" height="333")
                  .office__slide.swiper-slide
                     a.office__gallery(href="images/office/office-4.jpg") 
                        .office__img
                           .background-image
                              picture
                                 source(srcset="images/office/office-4.webp" type="image/webp")
                                 img(src="images/office/office-4.jpg" alt="картинка" width="394" height="333")
                  .office__slide.swiper-slide
                     a.office__gallery(href="images/office/office-1.jpg") 
                        .office__img
                           .background-image
                              picture
                                 source(srcset="images/office/office-1.webp" type="image/webp")
                                 img(src="images/office/office-1.jpg" alt="картинка" width="394" height="333")
                  .office__slide.swiper-slide
                     a.office__gallery(href="images/office/office-2.jpg") 
                        .office__img
                           .background-image
                              picture
                                 source(srcset="images/office/office-2.webp" type="image/webp")
                                 img(src="images/office/office-2.jpg" alt="картинка" width="394" height="333")
                  .office__slide.swiper-slide
                     a.office__gallery(href="images/office/office-3.jpg") 
                        .office__img
                           .background-image
                              picture
                                 source(srcset="images/office/office-3.webp" type="image/webp")
                                 img(src="images/office/office-3.jpg" alt="картинка" width="394" height="333")
                  .office__slide.swiper-slide
                     a.office__gallery(href="images/office/office-4.jpg") 
                        .office__img
                           .background-image
                              picture
                                 source(srcset="images/office/office-4.webp" type="image/webp")
                                 img(src="images/office/office-4.jpg" alt="картинка" width="394" height="333")
            button.swiper-button-prev.office__prev
            button.swiper-button-next.office__next

   section.cert
      .cert__inner
         h2.title.cert__title.container Сертификаты
         .cert__slider
            .slider.cert__swiper.swiper-container
               .swiper-wrapper.cert__popup
                  .cert__slide.swiper-slide
                     a.cert__gallery(href="images/cert/cert.jpg")
                        .cert__img
                           .background-image
                              img(src="images/cert/cert.jpg" alt="сертификат" width="130" height="200")
                  .cert__slide.swiper-slide
                     a.cert__gallery(href="images/cert/cert.jpg")
                        .cert__img
                           .background-image
                              img(src="images/cert/cert.jpg" alt="сертификат" width="130" height="200")
                  .cert__slide.swiper-slide
                     a.cert__gallery(href="images/cert/cert.jpg")
                        .cert__img
                           .background-image
                              img(src="images/cert/cert.jpg" alt="сертификат" width="130" height="200")
                  .cert__slide.swiper-slide
                     a.cert__gallery(href="images/cert/cert.jpg")
                        .cert__img
                           .background-image
                              img(src="images/cert/cert.jpg" alt="сертификат" width="130" height="200")
                  .cert__slide.swiper-slide
                     a.cert__gallery(href="images/cert/cert.jpg")
                        .cert__img
                           .background-image
                              img(src="images/cert/cert.jpg" alt="сертификат" width="130" height="200")
                  .cert__slide.swiper-slide
                     a.cert__gallery(href="images/cert/cert.jpg")
                        .cert__img
                           .background-image
                              img(src="images/cert/cert.jpg" alt="сертификат" width="130" height="200")
                  .cert__slide.swiper-slide
                     a.cert__gallery(href="images/cert/cert.jpg")
                        .cert__img
                           .background-image
                              img(src="images/cert/cert.jpg" alt="сертификат" width="130" height="200")
                  .cert__slide.swiper-slide
                     a.cert__gallery(href="images/cert/cert.jpg")
                        .cert__img
                           .background-image
                              img(src="images/cert/cert.jpg" alt="сертификат" width="130" height="200")
                  .cert__slide.swiper-slide
                     a.cert__gallery(href="images/cert/cert.jpg")
                        .cert__img
                           .background-image
                              img(src="images/cert/cert.jpg" alt="сертификат" width="130" height="200")
                  .cert__slide.swiper-slide
                     a.cert__gallery(href="images/cert/cert.jpg")
                        .cert__img
                           .background-image
                              img(src="images/cert/cert.jpg" alt="сертификат" width="130" height="200")
            button.swiper-button-prev.cert__prev
            button.swiper-button-next.cert__next

   section.info
      .info__inner
         h2.title.info__title.container Интересная информация
         .info__slider
            .slider.info__swiper-articles
               .swiper-wrapper
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-1.webp" type="image/webp")
                              img(src="images/info/info-1.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-2.webp" type="image/webp")
                              img(src="images/info/info-2.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-3.webp" type="image/webp")
                              img(src="images/info/info-3.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-4.webp" type="image/webp")
                              img(src="images/info/info-4.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-1.webp" type="image/webp")
                              img(src="images/info/info-1.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-2.webp" type="image/webp")
                              img(src="images/info/info-2.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-3.webp" type="image/webp")
                              img(src="images/info/info-3.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-4.webp" type="image/webp")
                              img(src="images/info/info-4.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
            button.swiper-button-prev.articles__prev
            button.swiper-button-next.articles__next

   section.explane
      .explane__inner.container
         h2.title.visually-hidden Информация о нашей компании
         .explane__content
            .explane__box.explane__box--active
               article.explane__article
                  h2.title.explane__title Кредитный брокер
                  p Кредитный брокер — финансовый помощник, который является посредником между кредитной организацией и потенциальным заемщиком, желающим взять кредит в банке. Помощь кредитного брокера заключается в проверке кредитной истории заявителя, выборе наиболее надежного банка, комфортного условия кредитования, сборе и подаче необходимых документов, выборе способа и графика погашения займа, тщательной проверке документов и поиске подводных камней, если таковые имеются.
               article.explane__article
                  h2.title.explane__title Кто обращается к брокерам?
                  p.
                     Или другая ситуация. Потенциальный заявитель изучал информацию о кредитах в интернете и наткнулся на Хатон.ру. Отзывы прекрасные и знакомые советуют. Клиент будущего банка по кредитам решил, что это отличная возможность собрать информацию о комфортных условиях кредитования, процентных ставках и сроках платежей. Ведь человек не является специалистом и не знать, где, как и что искать. #[br]
                     Молодой человек предоставил все необходимые документы и спокойно работал дальше, пока брокер делал все за него. А в какой-то момент ему просто предоставили целый пакет документов с процентными ставками, предложениями и видами кредитов. Так клиент кредитования выбрал наиболее удобный вариант для себя и не потратил огромное количество времени на бессмысленные поиски лучшего варианта. Все сделали за него. Причем среди всех предложений, он выбрал с самой низкой ставкой — 4.9% годовых. Сам бы он вряд ли нашел такое хорошее решение.
            .explane__box
               article.explane__article
                  h2.title.explane__title Преимущества брокера Хатон.ру
                  p Экономия огромного пласта времени, так как с вас потребуется только документация и ничего более.

                  p Вы можете прийти в отделение, а можете подать заявку онлайн.
                  p Стоимость услуг зависит от ситуации и оговаривается заранее. Причем, вы платите процент от кредита и только в том случае, если вам его одобрили. Обычно это 3%. Как вы помните, мы уточняли, что частные брокеры могут брать от 10 до 20%, поэтому 3% это не так много за уже одобренный займ.
                  p Данный кредитный брокер работает честно и в соответствии с законом. Вам не будут предлагать мухлевать с документами или обманывать банки. Во-первых, потому что это ничего не даст и обман вскроется уже на второй проверке документов банком, а во-вторых, данному брокеру это просто не нужно. Если они видят, что одобрение кредита невозможно, вам так и скажут. И вряд ли, одобрение возможно хоть каким-либо путем, если Хатон сказал, что этого просто нельзя никаким образом добиться.
                  p Все специалисты Хатон.ру, без исключения, работали ранее в банках и знаю всю структуру изнутри. Колоссальный опыт и знания обуславливают рейтинг компании и дают такой высокий результат.
                  p В заключении можно сказать, что если и стоит обращаться к кредитному брокеру, только к таким проверенным, как Хатон.ру.

         a.explane__more(href="#") Развернуть СЕО-тест

   section.info.info--reviews
      .info__inner#reviewsSlider
         h2.title.info__title.container Отзывы
         ul.tabs(data-id='reviewsSlider')
            li.tabs__item
               a.tabs__btn(href="#reviews-1") Рефинансирование
            li.tabs__item
               a.tabs__btn(href="#reviews-2") Рефинансирование
            li.tabs__item
               a.tabs__btn(href="#reviews-3") Рефинансирование
         .tabs-content__wrapper
            .info__slider.tabs-content.tabs-content--active#reviews-1
               .slider.info__swiper-reviews.info__swiper-reviews-1
                  .swiper-wrapper
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-1.webp" type="image/webp")
                                 img(src="images/info/reviews-1.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-2.webp" type="image/webp")
                                 img(src="images/info/reviews-2.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-3.webp" type="image/webp")
                                 img(src="images/info/reviews-3.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-4.webp" type="image/webp")
                                 img(src="images/info/reviews-4.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-1.webp" type="image/webp")
                                 img(src="images/info/reviews-1.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-2.webp" type="image/webp")
                                 img(src="images/info/reviews-2.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-3.webp" type="image/webp")
                                 img(src="images/info/reviews-3.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-4.webp" type="image/webp")
                                 img(src="images/info/reviews-4.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
               button.swiper-button-prev.reviews__prev.reviews__prev-1
               button.swiper-button-next.reviews__next.reviews__next-1
            .info__slider.tabs-content#reviews-2
               .slider.info__swiper-reviews.info__swiper-reviews-2
                  .swiper-wrapper
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-1.webp" type="image/webp")
                                 img(src="images/info/reviews-1.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-2.webp" type="image/webp")
                                 img(src="images/info/reviews-2.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-3.webp" type="image/webp")
                                 img(src="images/info/reviews-3.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-4.webp" type="image/webp")
                                 img(src="images/info/reviews-4.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-1.webp" type="image/webp")
                                 img(src="images/info/reviews-1.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-2.webp" type="image/webp")
                                 img(src="images/info/reviews-2.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-3.webp" type="image/webp")
                                 img(src="images/info/reviews-3.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-4.webp" type="image/webp")
                                 img(src="images/info/reviews-4.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
               button.swiper-button-prev.reviews__prev.reviews__prev-2
               button.swiper-button-next.reviews__next.reviews__next-2
            .info__slider.tabs-content#reviews-3
               .slider.info__swiper-reviews.info__swiper-reviews-3
                  .swiper-wrapper
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-4.webp" type="image/webp")
                                 img(src="images/info/reviews-4.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-3.webp" type="image/webp")
                                 img(src="images/info/reviews-3.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-1.webp" type="image/webp")
                                 img(src="images/info/reviews-1.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-2.webp" type="image/webp")
                                 img(src="images/info/reviews-2.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-2.webp" type="image/webp")
                                 img(src="images/info/reviews-2.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-3.webp" type="image/webp")
                                 img(src="images/info/reviews-3.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-4.webp" type="image/webp")
                                 img(src="images/info/reviews-4.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                     .info__item.swiper-slide
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-1.webp" type="image/webp")
                                 img(src="images/info/reviews-1.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
               button.swiper-button-prev.reviews__prev.reviews__prev-3
               button.swiper-button-next.reviews__next.reviews__next-3