extends base/_layout
block head
   title Список статей
block page

   .breadcrumbs
      ul.breadcrumbs__list
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Главная
         li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--active(href="#") Список статей

   section.info.info--list
      .info__inner#reviewsList
         h1.main-title.container Отзывы наших клиентов
         ul.tabs(data-id='reviewsList')
            li.tabs__item
               a.tabs__btn(href="#reviews-1") Рефинансирование
            li.tabs__item
               a.tabs__btn(href="#reviews-2") Рефинансирование
            li.tabs__item
               a.tabs__btn(href="#reviews-3") Рефинансирование
         .info__box.container
            .tabs-content__wrapper
               ul.info__list.tabs-content.tabs-content--active#reviews-1
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-1.webp" type="image/webp")
                                 img(src="images/info/reviews-1.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-2.webp" type="image/webp")
                                 img(src="images/info/reviews-2.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-3.webp" type="image/webp")
                                 img(src="images/info/reviews-3.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-4.webp" type="image/webp")
                                 img(src="images/info/reviews-4.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-5.webp" type="image/webp")
                                 img(src="images/info/reviews-5.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-6.webp" type="image/webp")
                                 img(src="images/info/reviews-6.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-7.webp" type="image/webp")
                                 img(src="images/info/reviews-7.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-8.webp" type="image/webp")
                                 img(src="images/info/reviews-8.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-9.webp" type="image/webp")
                                 img(src="images/info/reviews-9.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object.info__object--hidden
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-10.webp" type="image/webp")
                                 img(src="images/info/reviews-10.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object.info__object--hidden
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-11.webp" type="image/webp")
                                 img(src="images/info/reviews-11.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object.info__object--hidden
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-12.webp" type="image/webp")
                                 img(src="images/info/reviews-12.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
               ul.info__list.tabs-content#reviews-2
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-1.webp" type="image/webp")
                                 img(src="images/info/reviews-1.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-2.webp" type="image/webp")
                                 img(src="images/info/reviews-2.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-3.webp" type="image/webp")
                                 img(src="images/info/reviews-3.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-4.webp" type="image/webp")
                                 img(src="images/info/reviews-4.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-5.webp" type="image/webp")
                                 img(src="images/info/reviews-5.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-6.webp" type="image/webp")
                                 img(src="images/info/reviews-6.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-7.webp" type="image/webp")
                                 img(src="images/info/reviews-7.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-8.webp" type="image/webp")
                                 img(src="images/info/reviews-8.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-9.webp" type="image/webp")
                                 img(src="images/info/reviews-9.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object.info__object--hidden
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-10.webp" type="image/webp")
                                 img(src="images/info/reviews-10.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object.info__object--hidden
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-11.webp" type="image/webp")
                                 img(src="images/info/reviews-11.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object.info__object--hidden
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-12.webp" type="image/webp")
                                 img(src="images/info/reviews-12.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
               ul.info__list.tabs-content#reviews-3
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-1.webp" type="image/webp")
                                 img(src="images/info/reviews-1.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-2.webp" type="image/webp")
                                 img(src="images/info/reviews-2.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-3.webp" type="image/webp")
                                 img(src="images/info/reviews-3.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-4.webp" type="image/webp")
                                 img(src="images/info/reviews-4.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-5.webp" type="image/webp")
                                 img(src="images/info/reviews-5.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-6.webp" type="image/webp")
                                 img(src="images/info/reviews-6.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-7.webp" type="image/webp")
                                 img(src="images/info/reviews-7.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-8.webp" type="image/webp")
                                 img(src="images/info/reviews-8.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-9.webp" type="image/webp")
                                 img(src="images/info/reviews-9.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object.info__object--hidden
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-10.webp" type="image/webp")
                                 img(src="images/info/reviews-10.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object.info__object--hidden
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-11.webp" type="image/webp")
                                 img(src="images/info/reviews-11.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
                  li.info__object.info__object--hidden
                     .info__item
                        a.info__video(href="#")
                           .background-image
                              picture
                                 source(srcset="images/info/reviews-12.webp" type="image/webp")
                                 img(src="images/info/reviews-12.jpg" alt="картинка" width="394" height="358")
                           .info__video-play
                              img(src="images/icons/play.svg" alt="play" width="24" height="24")
                        .info__desc
                           .data.info__data
                              p.data__day 31 октября 2020
                              .data__info
                                 img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                                 span.data__num 543
                              .data__info
                                 img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                                 span.data__num 12
                           .info__about
                              h3.info__name Заголовок проблемы и особенности. Возможно в две строки...
                              p.info__more Решение проблемы и небольшой комментарий к отзыву, если необходимо. Блок фиксированной высоты...
                              a.info__btn(href="#") Заказать услугу
            
            .pagination
               .pagination__list
                  a.pagination__btn(href="#") 1
                  a.pagination__btn.pagination__btn--active(href="#") 2
                  a.pagination__btn(href="#") 3
                  a.pagination__btn(href="#") ...
                  a.pagination__btn(href="#") 45

   section.explane
      .explane__inner.container
         h2.title.visually-hidden Информация о нашей компании
         .explane__content
            .explane__box.explane__box--active
               article.explane__article
                  h2.title.explane__title Кредитный брокер
                  p Кредитный брокер — финансовый помощник, который является посредником между кредитной организацией и потенциальным заемщиком, желающим взять кредит в банке. Помощь кредитного брокера заключается в проверке кредитной истории заявителя, выборе наиболее надежного банка, комфортного условия кредитования, сборе и подаче необходимых документов, выборе способа и графика погашения займа, тщательной проверке документов и поиске подводных камней, если таковые имеются.
               article.explane__article
                  h2.title.explane__title Кто обращается к брокерам?
                  p.
                     Или другая ситуация. Потенциальный заявитель изучал информацию о кредитах в интернете и наткнулся на Хатон.ру. Отзывы прекрасные и знакомые советуют. Клиент будущего банка по кредитам решил, что это отличная возможность собрать информацию о комфортных условиях кредитования, процентных ставках и сроках платежей. Ведь человек не является специалистом и не знать, где, как и что искать. #[br]
                     Молодой человек предоставил все необходимые документы и спокойно работал дальше, пока брокер делал все за него. А в какой-то момент ему просто предоставили целый пакет документов с процентными ставками, предложениями и видами кредитов. Так клиент кредитования выбрал наиболее удобный вариант для себя и не потратил огромное количество времени на бессмысленные поиски лучшего варианта. Все сделали за него. Причем среди всех предложений, он выбрал с самой низкой ставкой — 4.9% годовых. Сам бы он вряд ли нашел такое хорошее решение.
            .explane__box
               article.explane__article
                  h2.title.explane__title Преимущества брокера Хатон.ру
                  p Экономия огромного пласта времени, так как с вас потребуется только документация и ничего более.

                  p Вы можете прийти в отделение, а можете подать заявку онлайн.
                  p Стоимость услуг зависит от ситуации и оговаривается заранее. Причем, вы платите процент от кредита и только в том случае, если вам его одобрили. Обычно это 3%. Как вы помните, мы уточняли, что частные брокеры могут брать от 10 до 20%, поэтому 3% это не так много за уже одобренный займ.
                  p Данный кредитный брокер работает честно и в соответствии с законом. Вам не будут предлагать мухлевать с документами или обманывать банки. Во-первых, потому что это ничего не даст и обман вскроется уже на второй проверке документов банком, а во-вторых, данному брокеру это просто не нужно. Если они видят, что одобрение кредита невозможно, вам так и скажут. И вряд ли, одобрение возможно хоть каким-либо путем, если Хатон сказал, что этого просто нельзя никаким образом добиться.
                  p Все специалисты Хатон.ру, без исключения, работали ранее в банках и знаю всю структуру изнутри. Колоссальный опыт и знания обуславливают рейтинг компании и дают такой высокий результат.
                  p В заключении можно сказать, что если и стоит обращаться к кредитному брокеру, только к таким проверенным, как Хатон.ру.

         a.explane__more(href="#") Развернуть СЕО-тест

   address.address
      .address__inner
         .address__content.container
            .address__info
               .address__top
                  p.title.address__title Наш офис
                  p.address__city г. Москва, Нижний Сусальный переулок, д. 5, стр. 1
               p.address__text Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
               .address__contacts
                  a.address__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                  p.address__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
               ul.address__manage
                  li
                     a.btn.btn--sec(href="#") Заказать звонок
                  li
                     a.btn(href="#") Заказать услугу
            .address__map
               iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17961.85417182666!2d37.68580660191187!3d55.75447590574944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54aa4681e5943%3A0x4ce0b691b25536c4!2z0YAt0L0g0JvQtdGE0L7RgNGC0L7QstC-LCDQnNC-0YHQutCy0LA!5e0!3m2!1sru!2sru!4v1672594843788!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")