extends base/_layout
block head
   title Поиск
block page

   .breadcrumbs
      ul.breadcrumbs__list
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Главная
         li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--active(href="#") Поиск

   section.search
      .search__inner.container#searchList
         h1.main-title Поиск по сайту
         .search__box.section
            .search__content
               
                  form.search__form(action="#")
                     .search__manage
                        .search__field
                           input.search__inp(type="text" placeholder="Поиск по сайту")
                           img.search__icon(src="images/icons/search-normal.svg", alt="иконка")
                        button.btn Найти
                  ul.tabs(data-id='searchList')
                     li.tabs__item
                        a.tabs__btn(href="#search-1") Все материалы
                     li.tabs__item
                        a.tabs__btn(href="#search-2") Услуги
                     li.tabs__item
                        a.tabs__btn(href="#search-3") Статьи
                     li.tabs__item
                        a.tabs__btn(href="#search-4") Полезные статьи
                     li.tabs__item
                        a.tabs__btn(href="#search-5") Новости
                  .tabs-content__wrapper
                     .tabs-content.tabs-content--active#search-1
                        ul.search__list
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                        .pagination
                           .pagination__list
                              a.pagination__btn(href="#") 1
                              a.pagination__btn.pagination__btn--active(href="#") 2
                              a.pagination__btn(href="#") 3
                              a.pagination__btn(href="#") ...
                              a.pagination__btn(href="#") 45
                     .tabs-content#search-2
                        ul.search__list
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                        .pagination
                           .pagination__list
                              a.pagination__btn(href="#") 1
                              a.pagination__btn.pagination__btn--active(href="#") 2
                              a.pagination__btn(href="#") 3
                              a.pagination__btn(href="#") ...
                              a.pagination__btn(href="#") 45
                     .tabs-content#search-3
                        ul.search__list
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                        .pagination
                           .pagination__list
                              a.pagination__btn(href="#") 1
                              a.pagination__btn.pagination__btn--active(href="#") 2
                              a.pagination__btn(href="#") 3
                              a.pagination__btn(href="#") ...
                              a.pagination__btn(href="#") 45
                     .tabs-content#search-4
                        ul.search__list
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                        .pagination
                           .pagination__list
                              a.pagination__btn(href="#") 1
                              a.pagination__btn.pagination__btn--active(href="#") 2
                              a.pagination__btn(href="#") 3
                              a.pagination__btn(href="#") ...
                              a.pagination__btn(href="#") 45
                     .tabs-content#search-5
                        ul.search__list
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                           li.search__item
                              h2.search__title Два способа вернуть проценты по кредиту и ипотеке
                              p.search__text.
                                 Заемщики по закону могут вернуть проценты, если переплатили банку при досрочном погашении кредита. Еще можно вернуть до 650 тыс. руб., если купили квартиру в ипотеку независимо от того, погасили...
                              a.search__btn(href="#") Услуги
                        .pagination
                           .pagination__list
                              a.pagination__btn(href="#") 1
                              a.pagination__btn.pagination__btn--active(href="#") 2
                              a.pagination__btn(href="#") 3
                              a.pagination__btn(href="#") ...
                              a.pagination__btn(href="#") 45

            aside.section__aside
               form.form.form--aside(action="#")
                  .form__inner
                     .form__top
                        h2.form__title Бесплатная консультация по списанию долгов
                        p.form__text Оставьте свой телефон, специалист перезвонит вам в течение 1 минуты
                     .form__manage
                        label.form__label
                           span.form__type Additional text
                           input.form__field(type="text" placeholder="Placeholder")
                           span.form__notif Additional text
                        label.form__label
                           span.form__type Additional text
                           input.form__field(type="text" placeholder="Placeholder")
                           span.form__notif Additional text
                     button.form__submit.btn.btn--wide Название кнопки
                     .form__agree
                        label.form__agree-label
                           input(type="checkbox")
                           span.form__agree-checkbox
                              span.form__agree-checkbox__check
                           span.form__agree-text.
                              Я принимаю условия #[a(href="#") Пользовательского соглашения] и даю свое согласие на обработку моих персональных данных в соответствии с #[a(href="#") Политикой конфиденциальности]