extends base/_layout
block head
   title Статическая страница
block page

   .breadcrumbs
      ul.breadcrumbs__list
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Главная
         li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--active(href="#") Статическая страница

   section.company
      .company__inner.container
         h1.main-title Статическая страница
         ul.tabs
            li.tabs__item
               a.tabs__btn(href="#") Рефинансирование
            li.tabs__item
               a.tabs__btn.tabs__btn--active(href="#") Рефинансирование
            li.tabs__item
               a.tabs__btn(href="#") Рефинансирование
         .company__box.section
            .company__info.section__info
               .text
                  p Экономия огромного пласта времени, так как с вас потребуется только документация и ничего более.
                  p Вы можете прийти в отделение, а можете подать заявку онлайн.
                  p Стоимость услуг зависит от ситуации и оговаривается заранее. Причем, вы платите процент от кредита и только в том случае, если вам его одобрили. Обычно это 3%. Как вы помните, мы уточняли, что частные брокеры могут брать от 10 до 20%, поэтому 3% это не так много за уже одобренный займ.
                  p Данный кредитный брокер работает честно и в соответствии с законом. Вам не будут предлагать мухлевать с документами или обманывать банки. Во-первых, потому что это ничего не даст и обман вскроется уже на второй проверке документов банком, а во-вторых, данному брокеру это просто не нужно. Если они видят, что одобрение кредита невозможно, вам так и скажут. И вряд ли, одобрение возможно хоть каким-либо путем, если Хатон сказал, что этого просто нельзя никаким образом добиться. #[br] Все специалисты Хатон.ру, без исключения, работали ранее в банках и знаю всю структуру изнутри. Колоссальный опыт и знания обуславливают рейтинг компании и дают такой высокий результат.
                  p В заключении можно сказать, что если и стоит обращаться к кредитному брокеру, только к таким проверенным, как Хатон.ру.
               .company__img
                  .background-image
                     picture
                        source(srcset="images/company/company-tab.webp" media="(min-width: 768px)" type="image/webp")
                        source(srcset="images/company/company-tab.jpg" media="(min-width: 768px)" type="image/jpeg")
                        source(srcset="images/company/company-mob.webp" type="image/webp")
                        img(src="images/company/company-mob.jpg" alt="Мебель" width="360" height="314")
               .company__sec
                  h2.title.title--special Преимущества брокера Хатон.ру
                  .text
                     p Экономия огромного пласта времени, так как с вас потребуется только документация и ничего более.
                     p Вы можете прийти в отделение, а можете подать заявку онлайн.
                     p Стоимость услуг зависит от ситуации и оговаривается заранее. Причем, вы платите процент от кредита и только в том случае, если вам его одобрили. Обычно это 3%. Как вы помните, мы уточняли, что частные брокеры могут брать от 10 до 20%, поэтому 3% это не так много за уже одобренный займ.
                     p Данный кредитный брокер работает честно и в соответствии с законом. Вам не будут предлагать мухлевать с документами или обманывать банки. Во-первых, потому что это ничего не даст и обман вскроется уже на второй проверке документов банком, а во-вторых, данному брокеру это просто не нужно. Если они видят, что одобрение кредита невозможно, вам так и скажут. И вряд ли, одобрение возможно хоть каким-либо путем, если Хатон сказал, что этого просто нельзя никаким образом добиться. #[br] Все специалисты Хатон.ру, без исключения, работали ранее в банках и знаю всю структуру изнутри. Колоссальный опыт и знания обуславливают рейтинг компании и дают такой высокий результат.
                     p В заключении можно сказать, что если и стоит обращаться к кредитному брокеру, только к таким проверенным, как Хатон.ру.

               .company__sec
                  h2.title.title--subtitle Переуступка долга: 1 способ решения вопроса, если уволили с работы и нечем платить кредит. Заголовок в две строки + текст
                  .text
                     p Жизнь совершенно непредсказуема. Собрался поехать в отпуск — сделали карантин. Хотел получить повышение — попал под сокращение. И, увы, этих историй тысячи. Может случиться и более сложная ситуация, например, вас уволили с работы, но нужно платить кредит. И эта ситуация неудивительна, ведь по государственной статистике из-за пандемии без дохода осталось более 2 млн людей. И это данные даже без учёта неоплачиваемых «отпусков». Если ли выход из этой ситуации? Разумеется! В этой статье мы расскажем о самом эффективном способе решения проблемы, если уволили с работы, а кредит нужно платить.

            aside.section__aside
               form.form.form--aside(action="#")
                  .form__inner
                     .form__top
                        h2.form__title Бесплатная консультация по списанию долгов
                        p.form__text Оставьте свой телефон, специалист перезвонит вам в течение 1 минуты
                     .form__manage
                        label.form__label
                           span.form__type Additional text
                           input.form__field(type="text" placeholder="Placeholder")
                           span.form__notif Additional text
                        label.form__label
                           span.form__type Additional text
                           input.form__field(type="text" placeholder="Placeholder")
                           span.form__notif Additional text
                        label.form__label
                           span.form__type Additional text
                           input.form__field(type="text" placeholder="Placeholder")
                           span.form__notif Additional text
                        label.form__label
                           span.form__type Additional text
                           input.form__field(type="text" placeholder="Placeholder")
                           span.form__notif Additional text
                     button.form__submit.btn.btn--wide Название кнопки
                     .form__agree
                        label.form__agree-label
                           input(type="checkbox")
                           span.form__agree-checkbox
                              span.form__agree-checkbox__check
                           span.form__agree-text.
                              Я принимаю условия #[a(href="#") Пользовательского соглашения] и даю свое согласие на обработку моих персональных данных в соответствии с #[a(href="#") Политикой конфиденциальности]
                     .form__bottom
                        a.form__tel(href="#") +7 (495) 324-11-34
                        p.form__time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                        a.form__email(href="mailto:support@gksod.ru") support@gksod.ru

   section.info.info--reviews
      .info__inner
         h2.title.info__title.container Отзывы
         ul.tabs
            li.tabs__item
               a.tabs__btn(href="#") Рефинансирование
            li.tabs__item
               a.tabs__btn.tabs__btn--active(href="#") Рефинансирование
            li.tabs__item
               a.tabs__btn(href="#") Рефинансирование
         .info__slider
            .slider.info__swiper-reviews
               .swiper-wrapper
                  .info__item.swiper-slide
                     a.info__video(href="#")
                        .background-image
                           picture
                              source(srcset="images/info/reviews-1.webp" type="image/webp")
                              img(src="images/info/reviews-1.jpg" alt="картинка" width="394" height="358")
                        .info__video-play
                           img(src="images/icons/play.svg" alt="play" width="24" height="24")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  .info__item.swiper-slide
                     a.info__video(href="#")
                        .background-image
                           picture
                              source(srcset="images/info/reviews-2.webp" type="image/webp")
                              img(src="images/info/reviews-2.jpg" alt="картинка" width="394" height="358")
                        .info__video-play
                           img(src="images/icons/play.svg" alt="play" width="24" height="24")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  .info__item.swiper-slide
                     a.info__video(href="#")
                        .background-image
                           picture
                              source(srcset="images/info/reviews-3.webp" type="image/webp")
                              img(src="images/info/reviews-3.jpg" alt="картинка" width="394" height="358")
                        .info__video-play
                           img(src="images/icons/play.svg" alt="play" width="24" height="24")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  .info__item.swiper-slide
                     a.info__video(href="#")
                        .background-image
                           picture
                              source(srcset="images/info/reviews-4.webp" type="image/webp")
                              img(src="images/info/reviews-4.jpg" alt="картинка" width="394" height="358")
                        .info__video-play
                           img(src="images/icons/play.svg" alt="play" width="24" height="24")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  .info__item.swiper-slide
                     a.info__video(href="#")
                        .background-image
                           picture
                              source(srcset="images/info/reviews-1.webp" type="image/webp")
                              img(src="images/info/reviews-1.jpg" alt="картинка" width="394" height="358")
                        .info__video-play
                           img(src="images/icons/play.svg" alt="play" width="24" height="24")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  .info__item.swiper-slide
                     a.info__video(href="#")
                        .background-image
                           picture
                              source(srcset="images/info/reviews-2.webp" type="image/webp")
                              img(src="images/info/reviews-2.jpg" alt="картинка" width="394" height="358")
                        .info__video-play
                           img(src="images/icons/play.svg" alt="play" width="24" height="24")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  .info__item.swiper-slide
                     a.info__video(href="#")
                        .background-image
                           picture
                              source(srcset="images/info/reviews-3.webp" type="image/webp")
                              img(src="images/info/reviews-3.jpg" alt="картинка" width="394" height="358")
                        .info__video-play
                           img(src="images/icons/play.svg" alt="play" width="24" height="24")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  .info__item.swiper-slide
                     a.info__video(href="#")
                        .background-image
                           picture
                              source(srcset="images/info/reviews-4.webp" type="image/webp")
                              img(src="images/info/reviews-4.jpg" alt="картинка" width="394" height="358")
                        .info__video-play
                           img(src="images/icons/play.svg" alt="play" width="24" height="24")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
            button.swiper-button-prev.reviews__prev
            button.swiper-button-next.reviews__next

   section.explane
      .explane__inner.container
         h2.title.visually-hidden Информация о нашей компании
         .explane__content
            .explane__box.explane__box--active
               article.explane__article
                  h2.title.explane__title Кредитный брокер
                  p Кредитный брокер — финансовый помощник, который является посредником между кредитной организацией и потенциальным заемщиком, желающим взять кредит в банке. Помощь кредитного брокера заключается в проверке кредитной истории заявителя, выборе наиболее надежного банка, комфортного условия кредитования, сборе и подаче необходимых документов, выборе способа и графика погашения займа, тщательной проверке документов и поиске подводных камней, если таковые имеются.
               article.explane__article
                  h2.title.explane__title Кто обращается к брокерам?
                  p.
                     Или другая ситуация. Потенциальный заявитель изучал информацию о кредитах в интернете и наткнулся на Хатон.ру. Отзывы прекрасные и знакомые советуют. Клиент будущего банка по кредитам решил, что это отличная возможность собрать информацию о комфортных условиях кредитования, процентных ставках и сроках платежей. Ведь человек не является специалистом и не знать, где, как и что искать. #[br]
                     Молодой человек предоставил все необходимые документы и спокойно работал дальше, пока брокер делал все за него. А в какой-то момент ему просто предоставили целый пакет документов с процентными ставками, предложениями и видами кредитов. Так клиент кредитования выбрал наиболее удобный вариант для себя и не потратил огромное количество времени на бессмысленные поиски лучшего варианта. Все сделали за него. Причем среди всех предложений, он выбрал с самой низкой ставкой — 4.9% годовых. Сам бы он вряд ли нашел такое хорошее решение.
            .explane__box
               article.explane__article
                  h2.title.explane__title Преимущества брокера Хатон.ру
                  p Экономия огромного пласта времени, так как с вас потребуется только документация и ничего более.

                  p Вы можете прийти в отделение, а можете подать заявку онлайн.
                  p Стоимость услуг зависит от ситуации и оговаривается заранее. Причем, вы платите процент от кредита и только в том случае, если вам его одобрили. Обычно это 3%. Как вы помните, мы уточняли, что частные брокеры могут брать от 10 до 20%, поэтому 3% это не так много за уже одобренный займ.
                  p Данный кредитный брокер работает честно и в соответствии с законом. Вам не будут предлагать мухлевать с документами или обманывать банки. Во-первых, потому что это ничего не даст и обман вскроется уже на второй проверке документов банком, а во-вторых, данному брокеру это просто не нужно. Если они видят, что одобрение кредита невозможно, вам так и скажут. И вряд ли, одобрение возможно хоть каким-либо путем, если Хатон сказал, что этого просто нельзя никаким образом добиться.
                  p Все специалисты Хатон.ру, без исключения, работали ранее в банках и знаю всю структуру изнутри. Колоссальный опыт и знания обуславливают рейтинг компании и дают такой высокий результат.
                  p В заключении можно сказать, что если и стоит обращаться к кредитному брокеру, только к таким проверенным, как Хатон.ру.

         a.explane__more(href="#") Развернуть СЕО-тест

   section.info
      .info__inner
         h2.title.info__title.container Интересная информация
         .info__slider
            .slider.info__swiper-articles
               .swiper-wrapper
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-1.webp" type="image/webp")
                              img(src="images/info/info-1.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-2.webp" type="image/webp")
                              img(src="images/info/info-2.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-3.webp" type="image/webp")
                              img(src="images/info/info-3.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-4.webp" type="image/webp")
                              img(src="images/info/info-4.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-1.webp" type="image/webp")
                              img(src="images/info/info-1.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-2.webp" type="image/webp")
                              img(src="images/info/info-2.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-3.webp" type="image/webp")
                              img(src="images/info/info-3.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
                  a.info__item.swiper-slide(href="#")
                     .info__img
                        .background-image
                           picture
                              source(srcset="images/info/info-4.webp" type="image/webp")
                              img(src="images/info/info-4.jpg" alt="картинка" width="394" height="358")
                     .info__desc
                        .data.info__data
                           p.data__day 31 октября 2020
                           .data__info
                              img.data__icon(src="images/icons/eye.svg" alt="просмотры" width="18" height="18")
                              span.data__num 543
                           .data__info
                              img.data__icon(src="images/icons/comment.svg" alt="коммент" width="18" height="18")
                              span.data__num 12
                        h3.info__name Кредит для самозанятых в Россельхозбанке: условия, требования к заемщику
            button.swiper-button-prev.articles__prev
            button.swiper-button-next.articles__next

   address.address
      .address__inner
         .address__content.container
            .address__info
               .address__top
                  p.title.address__title Наш офис
                  p.address__city г. Москва, Нижний Сусальный переулок, д. 5, стр. 1
               p.address__text Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
               .address__contacts
                  a.address__tel(href="tel:+74953241134") +7 (495) 324-11-34
                  p.address__time Ежедневно без выходных с 10:00 до 19:00 (мск.)
               ul.address__manage
                  li
                     a.btn.btn--sec(href="#") Заказать звонок
                  li
                     a.btn(href="#") Заказать услугу
            .address__map
               .background-image
                  picture
                     img(src="images/address/map.jpg" alt="карта" width="332" height="330")