extends base/_layout
block head
   title Список вакансий
block page

   .breadcrumbs
      ul.breadcrumbs__list
         li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Главная
         li.breadcrumbs__item
            a.breadcrumbs__link.breadcrumbs__link--active(href="#") Список вакансий

   section.vacancy
      .vacancy__inner.container
         h1.main-title Список вакансий
         .vacancy__box.section
            .vacancy__info.section__info
               .text
                  p Экономия огромного пласта времени, так как с вас потребуется только документация и ничего более.
                  p.
                     Вы можете прийти в отделение, а можете подать заявку онлайн. #[br]
                     Стоимость услуг зависит от ситуации и оговаривается заранее. Причем, вы платите процент от кредита и только в том случае, если вам его одобрили. Обычно это 3%. Как вы помните, мы уточняли, что частные брокеры могут брать от 10 до 20%, поэтому 3% это не так много за уже одобренный займ.
               ul.vacancy__list
                  li.vacancy__job
                     h2.vacancy__pro Менеджер по продаже кредитных продуктов
                     p.vacancy__text Мы оказываем результативную помощь в поиске наилучшего кредитного продукта. Мы помогаем людям приобрести квартиру или получить средства на личные цели на самых выгодных условиях.
                     a.btn.btn--other.vacancy__btn(href="#") Подробнее о вакансии
                  li.vacancy__job
                     h2.vacancy__pro Вторая вакансия, если есть
                     p.vacancy__text Мы оказываем результативную помощь в поиске наилучшего кредитного продукта. Мы помогаем людям приобрести квартиру или получить средства на личные цели на самых выгодных условиях.
                     a.btn.btn--other.vacancy__btn(href="#") Подробнее о вакансии
                  li.vacancy__job
                     h2.vacancy__pro Вторая вакансия, если есть
                     p.vacancy__text Мы оказываем результативную помощь в поиске наилучшего кредитного продукта. Мы помогаем людям приобрести квартиру или получить средства на личные цели на самых выгодных условиях.
                     a.btn.btn--other.vacancy__btn(href="#") Подробнее о вакансии
                  li.vacancy__job
                     h2.vacancy__pro Вторая вакансия, если есть
                     p.vacancy__text Мы оказываем результативную помощь в поиске наилучшего кредитного продукта. Мы помогаем людям приобрести квартиру или получить средства на личные цели на самых выгодных условиях.
                     a.btn.btn--other.vacancy__btn(href="#") Подробнее о вакансии
   
            aside.section__aside
               form.form.form--aside(action="#")
                  .form__inner
                     .form__top
                        h2.form__title Бесплатная консультация по списанию долгов
                        p.form__text Оставьте свой телефон, специалист перезвонит вам в течение 1 минуты
                     .form__manage
                        label.form__label
                           span.form__type Additional text
                           input.form__field(type="text" placeholder="Placeholder")
                           span.form__notif Additional text
                        label.form__label
                           span.form__type Additional text
                           input.form__field(type="text" placeholder="Placeholder")
                           span.form__notif Additional text
                     button.form__submit.btn.btn--wide Название кнопки
                     .form__agree
                        label.form__agree-label
                           input(type="checkbox")
                           span.form__agree-checkbox
                              span.form__agree-checkbox__check
                           span.form__agree-text.
                              Я принимаю условия #[a(href="#") Пользовательского соглашения] и даю свое согласие на обработку моих персональных данных в соответствии с #[a(href="#") Политикой конфиденциальности]
                     .form__bottom
                        a.form__tel.tel(href="#") +7 (495) 324-11-34
                        p.form__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
                        a.form__email.email(href="mailto:support@gksod.ru") support@gksod.ru

   address.address
      .address__inner
         .address__content.container
            .address__info
               .address__top
                  p.title.address__title Наш офис
                  p.address__city г. Москва, Нижний Сусальный переулок, д. 5, стр. 1
               p.address__text Для более подробного расчета, вы можете связаться с нами по телефону. Наши менеджеры вас проконсультируют.
               .address__contacts
                  a.address__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
                  p.address__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
               ul.address__manage
                  li
                     a.btn.btn--sec(href="#") Заказать звонок
                  li
                     a.btn(href="#") Заказать услугу
            .address__map
               iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17961.85417182666!2d37.68580660191187!3d55.75447590574944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54aa4681e5943%3A0x4ce0b691b25536c4!2z0YAt0L0g0JvQtdGE0L7RgNGC0L7QstC-LCDQnNC-0YHQutCy0LA!5e0!3m2!1sru!2sru!4v1672594843788!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")