footer.footer
   .footer__inner.container
      .footer__top
         a.footer__logo(href="#")
            img(src="images/icons/logo-light.svg", alt="логотип" width="150" height="42")
         a.btn.btn--wide.btn--third(href="#") Заказать звонок
         a.btn.btn--wide(href="#") Заказать услугу
      nav.footer__nav
         .footer__nav-col
            p.footer__nav-toggle Кредит
            ul.footer__nav-list
               li
                  a(href="#") Кредит под залог недвижимости
               li
                  a(href="#") Кредит под залог квартиры
               li
                  a(href="#") Кредит под залог коттеджа
               li
                  a(href="#") Кредит под залог дома
               li
                  a(href="#") Кредит под залог комнаты
               li
                  a(href="#") Кредит под залог коммерческой недвижимости
               li
                  a(href="#") Кредит под залог земельного участка
               li
                  a(href="#") Кредит под залог таунхауса
               li
                  a(href="#") Кредит под залог апартаментов
               li
                  a(href="#") Кредит наличными
               li
                  a(href="#") Кредит под залог ПТС
               li
                  a(href="#") Кредит под залог автомобиля
               li
                  a(href="#") Кредит для бизнеса

         .footer__nav-col
            p.footer__nav-toggle Ипотека и рефинансирование
            ul.footer__nav-list
               li
                  a(href="#") Рефинансирование
               li
                  a(href="#") Рефинансирование потребительских кредитов
               li
                  a(href="#") Рефинансирование ипотеки
               li
                  a(href="#") Рефинансирование кредитных карт
               li
                  a(href="#") Рефинансирование залога недвижимости

         .footer__nav-col
            p.footer__nav-toggle Кредит для бизнеса
            ul.footer__nav-list
               li
                  a(href="#") Ипотека
               li
                  a(href="#") Ипотека на квартиру
               li
                  a(href="#") Ипотека на комнату
               li
                  a(href="#") Ипотека на коттедж
               li
                  a(href="#") Ипотека на таунхаус
               li
                  a(href="#") Ипотека на дом
               li
                  a(href="#") Ипотека на земельный участок
               li
                  a(href="#") Ипотека на апартаменты
               li
                  a(href="#") Ипотека на нежилое помещение

         .footer__nav-col
            p.footer__nav-toggle О компании
            ul.footer__nav-list
               li
                  a(href="#") О нас
               li
                  a(href="#") Наша команда
               li
                  a(href="#") Кредитный калькулятор
               li
                  a(href="#") Контакты
               li
                  a(href="#") Новости
               li
                  a(href="#") Видео отзывы
               li
                  a(href="#") Сотрудничество
               li
                  a(href="#") Умные кредиты

      p.footer__text.
         ООО «Хатон.ру» (115230, Россия, г. Москва, Варшавское шоссе, дом 42, 5 этаж) компания, являющейся официальным партнером кредитных организаций, предоставляющих займы и кредиты на основании действующего законодательства РФ. (Лицензии: АО «Банк ЖилФинанс» - №3138, АО ЮниКредит Банк - №1, ПАО «Совкомбанк» - №963, ПАО «Татфондбанк» - №3058, ПАО АКБ "Металлинвестбанк" - №2440, АО «Райффайзенбанк» - №3292, АКБ «Абсолют Банк» (ПАО) - №2306, ПАО «ТрансКапиталБанк» - №2210, АО «АБ «Россия» №328, ООО Национальная фабрика ипотеки №3403, ПАО Банк Зенит №3255, АО «КБ ДельтаКредит» №3338, ПАО Банк «ФК Открытие» №2209, ПАО КБ "Восточный" №1460, ПАО АКБ "Связь-Банк" №14710, АО КБ «Интерпромбанк» №3266, ПАО «АК БАРС» Банк №2590, "Газпромбанк" (Акционерное общество) №354, ПАО «Почта Банк» №650, АО «Россельхозбанк» №3349, ПАО Московский кредитный банк №1978, АКБ Российский капитал (ПАО) №2312, АО Банк «Развитие Столица» №3013, ПАО «БИНБАНК» №323, ПАО Банк «АЛЕКСАНДРОВСКИЙ» №53, АО Норвик Банк №902, АКБ Держава №2738, ООО "Первый Клиентский Банк" №3436, ПАО «БАНК УРАЛСИБ» №2275, Банк ВТБ (ПАО) №1000). Окончательные условия по кредиту зависят от финансового положения заемщика, возраста, семейного положения, финансовой дисциплины и других обстоятельств. Окончательное решение по кредиту принимается кредитной организацией на основании предоставленных оригиналов документов в соответствии с кредитной политикой кредитной организации.
      .footer__bottom
         .footer__contacts
            ul.soc.footer__soc
               li
                  a.soc__link.soc__link--whatsapp(href="#")
                     svg
                        use(href="images/sprites/main.stack.svg#svg-whatsapp")
               li
                  a.soc__link.soc__link--tg(href="#")
                     svg
                        use(href="images/sprites/main.stack.svg#svg-telegram")
            address.footer__address
               a.footer__tel.tel(href="tel:+74953241134") +7 (495) 324-11-34
               p.footer__time.time Ежедневно без выходных с 10:00 до 19:00 (мск.)
               p.footer__location г. Москва, Нижний Сусальный переулок, д. 5, стр. 1
               a.footer__email(href="mailto:support@gksod.ru") support@gksod.ru
            ul.footer__count
               li
                  a(href="#")
                     img(src="images/counters/count-1.png", alt="счетчик" width="117" height="45")
               li
                  a(href="#")
                     img(src="images/counters/count-2.png", alt="счетчик" width="117" height="45")
               li
                  a(href="#")
                     img(src="images/counters/count-3.png", alt="счетчик" width="117" height="45")