.wrapper
   width: 100%
   max-width: 100%
   margin: 0 auto
   display: flex
   flex-direction: column

.container
   width: 100%
   max-width: var(--containerWidth)
   margin: 0 auto
   padding: 0 var(--mainPadding)

.main-title
   margin-bottom: var(--mainMargin)
   font-weight: 800
   font-size: 24px
   line-height: 100%

.title
   font-weight: 700
   font-size: 22px
   line-height: 120%
   &--special
      margin-bottom: 20px
      padding-bottom: 23px
      border-bottom: 3px solid var(--accent)
      line-height: 100%
   &--est
      margin-bottom: 20px
      padding-bottom: 23px
      border-bottom: 3px solid #EAEAEA
      line-height: 100%
   &--subtitle
      margin-bottom: 20px
      font-size: 18px

.btn
   padding: 9px 19px
   font-weight: 600
   font-size: 14px
   line-height: 100%
   text-align: center
   color: #fff
   background: var(--accent)
   border-radius: 3px
   border: 1px solid transparent
   display: inline-flex
   justify-content: center
   align-items: center
   cursor: pointer
   transition: var(--transition)
   &:hover,
   &:focus
      background: #B22414
   &:active
      background: #942114
   &--sec
      background: #EAEAEA
      color: #1F1F1F
      &:hover,
      &:focus
         background: #D8D8D8
         color: #1F1F1F
      &:active
         background: var(--thColor)
         color: #fff
   &--third
      background: var(--thColor)
      color: #fff
      &:hover,
      &:focus
         background: #4B4B4B
      &:active
         background: var(--thColor)
   &--other
      background: #fff
      color: #1F1F1F
      border: 1px solid var(--textSec)
      &:hover,
      &:focus
         background: #1F1F1F
         border-color: #1F1F1F
         color: #fff
      &:active
         opacity: 0.5
   &--wide
      min-height: 48px
      font-size: 16px
   &--icon
      width: 36px
      min-width: 36px
      height: 36px
      min-height: 36px
      padding: 5px
   &--style
      background: var(--boxBg)
      &:hover,
      &:focus
         background: #D8D8D8
         color: #1F1F1F
      &:active
         background: var(--thColor)
         color: #fff
   svg
      width: 23px
      height: 23px

.list
   font-size: 12px
   line-height: 130%
   li
      padding-left: 31px
      margin-bottom: 15px
      position: relative
      &::before
         content: ''
         position: absolute
         left: 0
         top: -2px
         width: 17px
         height: 17px
         border-radius: 50%
         border: 3px solid #D82916

.listing
   li
      margin-bottom: 6px
      padding-left: 18px
      position: relative
      &::before
         content: ''
         position: absolute
         left: 0
         top: 5px
         width: 8px
         height: 8px
         border-radius: 50%
         background: #D9D9D9

.text
   p
      margin-bottom: 17px
   strong
      font-weight: 700

.num-list
   $liMargin: 10px
   margin: 0
   padding: 0
   font-weight: 400
   font-size: 15px
   line-height: 120%
   list-style-type: none
   counter-reset: list1
   li
      margin-bottom: $liMargin
      padding-left: 20px
      position: relative
      list-style-type: none
      &:last-child
         margin-bottom: 0
      &::before
         font-weight: 500
         position: absolute
         top: 0
         left: 0
         width: 22px
         text-align: left
         color: #D82816
         font-size: 16px
         counter-increment: list1
         content: counter(list1) "."
   ol
      margin-top: $liMargin
      padding: 0
      padding-left: 10px
      counter-reset: list2
      li
         padding-left: 32px
         margin-bottom: 15px
         &::before
            width: 32px
            counter-increment: list2
            content: counter(list1) "." counter(list2) "."

.dot-list
   margin-bottom: 20px
   padding-left: 20px
   padding-right: 10px
   font-weight: 400
   font-size: 13px
   line-height: 138%
   li
      margin-bottom: 10px
      padding-left: 20px
      position: relative
      &::before
         content: ''
         width: 8px
         height: 8px
         border-radius: 50%
         background: var(--accent)
         position: absolute
         left: 0
         top: 5px

.sub-title
   margin-bottom: 14px
   font-weight: 700
   font-size: 14px
   line-height: 125%

.dropdown
   &-toggle
      &::after
         transition: all .35s ease
      &--active
         &::after
            transform: rotate(180deg)

.tel
   display: inline-block
   font-weight: 600
   font-size: 16px
   line-height: 100%
   white-space: nowrap
   color: #1F1F1F

.time
   font-weight: 400
   font-size: 12px
   line-height: 100%
   color: var(--textSec)

.email
   font-weight: 400
   font-size: 13px
   line-height: 100%
   text-decoration: underline
   white-space: nowrap
   &:hover,
   &:focus
      text-decoration: none

@media screen and (min-width: $width_tab)
   .title
      font-size: 24px
      &--special
         margin-bottom: 40px
         padding-bottom: 20px
      &--subtitle
         margin-bottom: 30px
         font-size: 20px
   .main-title
      font-size: 40px
   .btn
      min-height: 48px
      padding: 15px 31px
      font-size: 16px
      &--icon
         width: 36px
         min-width: 36px
         height: 36px
         min-height: 36px
         padding: 6px
   .list
      font-size: 14px
      li
         padding-left: 37px
   .text
      p
         margin-bottom: 21px
   .listing
      li
         margin-bottom: 8px

@media screen and (min-width: $width_desk)
   .main-title
      font-size: 46px

@media screen and (min-width: $width_lg)
   .title
      font-size: 28px
   .tel
      font-size: 18px
   .time
      font-size: 13px
   .listing
      li
         margin-bottom: 10px

@media screen and (min-width: $width_huge)
   .main-title
      margin-bottom: 60px
      font-size: 54px
   .title
      font-size: 32px
   .list
      font-size: 16px
      li
         margin-bottom: 16px
   .btn
      &--big
         padding: 15px 31px
         font-size: 20px
   .text
      p
         margin-bottom: 27px
   .listing
      li
         &::before
            top: 8px
   .tel
      font-size: 20px
   .time
      font-size: 15px
