.header
   --headerMargin: 30px
   min-height: 71px
   background: #fff
   &__wrapper
      background: #fff
      border-bottom: 1px solid #EAEAEA
      transition: all .3s ease
      top: -70px
      &--fixed
         position: fixed
         z-index: 1000
         top: -71px
         left: 0
         right: 0
         transition: all .3s ease
      &--visible
         top: 0 !important
   &--sec
      margin-bottom: 0
   &__top
      display: none
      &-email
         display: none
         text-decoration: underline
   &__medium
      &-inner
         padding: 13px var(--mainPadding)
         background: #fff
         display: flex
         align-items: center
   &__logo
      margin-right: 10px
      width: 160px
      img
         width: 100%
   &__right
      margin-left: auto
      display: flex
      align-items: center
   &__manage
      display: flex
      &-item
         margin-left: 10px
   &__bottom
      padding: 20px 30px 40px
      position: fixed
      transform: translateX(-100%)
      top: 71px
      left: 0
      width: 100%
      height: calc(100% - 70px)
      background: #fff
      z-index: 100
      overflow-y: auto
      transition: transform .3s ease
   &__main
      &-nav
         margin-bottom: var(--headerMargin)
      &-list
         font-weight: 700
         font-size: 13px
         line-height: 100%
         text-transform: uppercase
         &--active
            .header
               &__main
                  &-toggle
                     display: none
         a
            display: block
            padding: 19px 0
            border-bottom: 1px solid #EAEAEA
         li
            &:last-child
               a
                  border-bottom: 0
      &-toggle
         position: relative
         &.header__main-toggle--active
            display: none
         &::after
            content: ''
            position: absolute
            right: 0
            top: 50%
            transform: translateY(-50%)
            width: 20px
            height: 20px
            background: url('../images/icons/arrow-right.svg') no-repeat center / contain
      &-submenu
         &__wrapper
            display: none
            &--active
               display: block
         &__content
            margin-bottom: var(--mainMargin)
         a
            padding: 16px 0
            font-weight: 400
            font-size: 15px
            line-height: 130%
            color: var(--thColor)
            text-transform: none
         &__img
            width: 300px
            img
               width: 100%
               border-radius: 3px
         .header__main-submenu__prev
            display: inline-flex
            margin-bottom: 15px
            padding: 8px 27px
            padding-left: 42px
            border: 1px solid var(--textSec)
            border-radius: 3px
            font-weight: 600
            font-size: 14px
            position: relative
            &::before
               content: ''
               position: absolute
               left: 16px
               width: 16px
               height: 16px
               background: url('../images/icons/arrow-left.svg') no-repeat center / contain
      &-search
         display: none
   &__menu
      &-list
         margin-bottom: var(--headerMargin)
      .soc
         margin-bottom: var(--headerMargin)
         justify-content: flex-start
         a
            background: var(--textSec)
            transition: var(--transition)
            &:hover,
            &:focus
               background: #1F1F1F
      .header
         &__logo
            display: none
   &__contacts
      margin-bottom: 20px
   &__tel
      margin-bottom: 6px
   &__shedule
      margin-bottom: var(--headerMargin)
      font-weight: 400
      font-size: 14px
      line-height: 100%
      li
         margin-bottom: 20px
         &:last-child
            margin-bottom: 0
      a
         &:hover,
         &:focus
            color: #000
   &__btns
      margin-bottom: var(--headerMargin)
      display: flex
      flex-direction: column
      .btn
         margin-bottom: 10px
         &:last-child
            margin-bottom: 0
   &__desc
      font-weight: 400
      font-size: 13px
      line-height: 100%
      li
         margin-bottom: 5px
         &:last-child
            margin-bottom: 0
      a
         &:hover,
         &:focus
            color: #000
   &--active
      .header
         &__medium
            &-inner
               box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.05)
               position: relative
               z-index: 1000
               transition: var(--transition)
         &__bottom
            transform: translateX(0)
   &__burger
      padding: 8px
      display: flex
      flex-direction: column
      &-line
         margin-bottom: 3px
         width: 16px
         height: 1px
         background: #fff
         border-radius: 1px
         &:last-child
            margin-bottom: 0
         &_1
            transform-origin: 0% 0%
            transition: transform 0.4s ease-in-out
         &_2
            transition: transform 0.2s ease-in-out
         &_3
            transform-origin: 0% 100%
            transition: transform 0.4s ease-in-out
      &--active
         .header
            &__burger
               &-line
                  &_1
                     transform: rotate(45deg) translateY(-3px) translateX(1px)
                  &_2
                     transform: scaleY(0)
                  &_3
                     transform: rotate(-45deg) translateY(3px) translateX(1px)
   &__overlay
      display: none

@media screen and (min-width: $width_tab)
   .header
      min-height: 109px
      &__wrapper
         top: -109px
      &__bottom
         top: 109px
      &__top
         display: block
         background: var(--boxBg)
         border-bottom: 1px solid #EAEAEA
         position: relative
         z-index: 10000
         &-list
            padding: 12px 0
            display: flex
            align-items: center
            font-weight: 400
            font-size: 13px
            line-height: 100%
            li
               margin-right: 30px
               &:last-child
                  margin-right: 0
            a:hover,
            a:focus
               color: #000
         &-right
            margin-left: auto
      &__logo
         margin-right: 40px

@media screen and (min-width: $width_desk)
   .header
      --headerMargin: 0
      min-height: 184px
      &__wrapper
         position: static
         border-bottom: 0
      &__overlay
         position: fixed
         z-index: 1000
         left: 0
         top: 0
         right: 0
         bottom: 0
         background: rgba(#000, 0.5)
         &--active
            display: block
      &__top
         &-email
            display: block
      &__logo
         margin-top: auto
      &__email
         display: inline
      &__tel
         margin-bottom: 8px
      &__shedule, &__desc
         display: none
      &__btn
         width: auto
         height: auto
         min-height: 48px
         margin-left: 20px
      .btn
         &--style
            color: #1F1F1F
            background: #EAEAEA
            padding: 15px 31px
            &:hover,
            &:focus
               background: #D8D8D8
               color: #1F1F1F
            &:active
               background: var(--thColor)
               color: #fff
      &__main
         width: 100%
         order: 1
         position: relative
         &::after
            content: ''
            position: absolute
            bottom: 0
            left: 0
            right: 0
            height: 1px
            background: #EAEAEA
         &-inner
            display: flex
            justify-content: space-between
            align-items: center
            max-width: var(--containerWidth)
            margin: 0 auto
            padding: 0 var(--mainPadding)
         &--fixed
            position: fixed
            z-index: 10000
            top: 0
            left: 0
            right: 0
            background: #fff
         &-list
            margin-right: auto
            display: flex
            align-items: center
            li
               margin-right: 40px
               &:last-child
                  margin-right: 0
            a
               border-bottom: 0
         &-search
            display: block
            margin-left: 20px
            .btn
               padding: 0
               background: transparent
               svg
                  width: 28px
                  height: 28px
         .header
            &__main
               &-toggle
                  display: block
                  position: relative
                  &:hover,
                  &:focus
                     &::before
                        content: ''
                        position: absolute
                        z-index: 100
                        bottom: 0
                        left: -18px
                        right: -18px
                        height: 1px
                        background: var(--accent)
                  &::after
                     display: none
                  &--clicked
                     &::before
                        content: ''
                        position: absolute
                        z-index: 100
                        bottom: 0
                        left: -18px
                        right: -18px
                        height: 1px
                        background: var(--accent)
                     & ~ .header
                        &__main
                           &-submenu
                              &__wrapper
                                 display: block
         &-submenu
            display: block
            background: #fff
            &__wrapper
               display: none
               position: fixed
               z-index: 100
               left: 0
               right: 0
               overflow-y: auto
               max-height: calc(100% - 184px)
            &__inner
               width: 100%
               max-width: var(--containerWidth)
               padding: 40px var(--mainPadding)
               margin: 0 auto
               background: #fff
               display: flex
               align-items: flex-start
            &__content
               width: 100%
               max-width: 800px
               margin: 0
               margin-right: 40px
               display: grid
               grid-template-columns: 1fr 1fr
            .header__main-submenu__prev
               display: none
            &__img
               width: calc(100% - 840px)
               max-width: 380px
            &__list
               min-width: 260px
               margin-right: 40px
               margin-bottom: 40px
               li
                  margin-right: 0
                  &:hover,
                  &:focus
                     text-decoration: underline
      &__medium
         display: none
      &__bottom
         padding: 0
         position: relative
         z-index: 10000
         top: 0
         transform: none
         overflow-y: visible
         &-inner
            display: flex
            flex-direction: column
      &__menu
         width: 100%
         max-width: var(--containerWidth)
         margin: 0 auto
         padding: 23px var(--mainPadding)
         display: flex
         align-items: center
         .header
            &__logo
               display: inline-flex
      &__contacts
         margin: 0
         margin-right: auto
         padding-right: 10px
      &__btns
         margin-left: 30px
         flex-direction: row
         .btn
            margin: 0
            margin-left: 20px

@media screen and (min-width: $width_lg)
   .header
      min-height: 185px
      &__logo
         width: 180px
         min-width: 180px

@media screen and (min-width: $width_big)
   .header
      min-height: 191px
      &__medium
         &-inner
            padding: 17px var(--mainPadding) 5px
      &__logo
         width: 200px
         min-width: 200px
         margin-right: 60px
         margin-top: 0
      &__main
         &-submenu
            &__content
               max-width: 860px
               grid-template-columns: repeat(3, 1fr)
            &__list
               margin-bottom: 0

@media screen and (min-width: $width_huge)
   .header
      min-height: 198px
      &__top
         &-list
            li
               margin-right: 40px
      &__medium
         &-inner
            padding: 40px var(--mainPadding) 35px
      &__logo
         width: 227px
         min-width: 227px
         margin-right: 140px
         position: relative
         bottom: 5px
      &__tel
         margin-bottom: 6px